In [46]:
from pandas import *
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
df = df.set_index('match_id')

In [52]:
team = ['Mumbai Indians', 'Royal Challengers Bangalore']
MIvsRCB = df.loc[df['batting_team'].isin(team) & df['bowling_team'].isin(team)]
Kohli_dismissals = MIvsRCB.loc[(MIvsRCB['player_dismissed'] == 'V Kohli')]
Kohli_dismissals = Kohli_dismissals[['bowler', 'inning']]
Kohli_runs = MIvsRCB.loc[(MIvsRCB['batsman'] == 'V Kohli')].groupby('match_id').agg({'batsman_runs':['sum']})
Kohli_runs.columns = ['kohli_runs']
balls = MIvsRCB.loc[(MIvsRCB['batsman'] == 'V Kohli') & (MIvsRCB['noball_runs'] == 0) & (MIvsRCB['wide_runs'] == 0)]
balls = balls.groupby('match_id').count()
balls = balls['ball']
result = concat([Kohli_dismissals, Kohli_runs, balls], axis = 1).fillna(0)
result['SR'] = (result['kohli_runs']*100/result['ball']).astype(int)
result.to_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\KohlivsMI.csv')
result

                  bowler  inning  kohli_runs  ball   SR
match_id
12        MJ McClenaghan     1.0          62    47  131
37        MJ McClenaghan     1.0          20    14  142
63               A Nehra     2.0          23    14  164
90               A Nehra     1.0           0     1    0
153              C Nanda     2.0          20    22   90
188               Z Khan     2.0          17    12  141
226           KA Pollard     2.0          37    24  154
231           KA Pollard     2.0           9     6  150
242           KA Pollard     1.0          12    19   63
306             AN Ahmed     1.0           8    12   66
360                    0     0.0          36    25  144
367             MM Patel     1.0           3     1  300
383            JJ Bumrah     1.0          24    14  171
417          DS Kulkarni     2.0           1     4   25
462               Z Khan     2.0           0     2    0
484              P Suyal     2.0          35    28  125
534       MJ McClenaghan     2.0          18    18  100
562                    0     0.0          82    50  164
590            KH Pandya     1.0          33    30  110
617       MJ McClenaghan     1.0           7     7  100
7907                   0     0.0          93    61  152
7924           HH Pandya     1.0          32    26  123
11143          JJ Bumrah     2.0          47    32  146
11322      J Behrendorff     1.0           9     9  100

In [64]:
#manually added the bowler_kind column
df1 = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\KohlivsMI1.csv')
print(df1)

    match_id          bowler  inning  kohli_runs  ball   SR bowler_kind
0         12  MJ McClenaghan       1          62    47  131        Fast
1         37  MJ McClenaghan       1          20    14  142        Fast
2         63         A Nehra       2          23    14  164        Fast
3         90         A Nehra       1           0     1    0        Fast
4        153         C Nanda       2          20    22   90        Spin
5        188          Z Khan       2          17    12  141        Fast
6        226      KA Pollard       2          37    24  154        Fast
7        231      KA Pollard       2           9     6  150        Fast
8        242      KA Pollard       1          12    19   63        Fast
9        306        AN Ahmed       1           8    12   66        Fast
10       360               0       0          36    25  144         NaN
11       367        MM Patel       1           3     1  300        Fast
12       383       JJ Bumrah       1          24    14  171        Fast
13       417     DS Kulkarni       2           1     4   25        Fast
14       462          Z Khan       2           0     2    0        Fast
15       484         P Suyal       2          35    28  125        Fast
16       534  MJ McClenaghan       2          18    18  100        Fast
17       562               0       0          82    50  164         NaN
18       590       KH Pandya       1          33    30  110        Spin
19       617  MJ McClenaghan       1           7     7  100        Fast
20      7907               0       0          93    61  152         NaN
21      7924       HH Pandya       1          32    26  123        Fast
22     11143       JJ Bumrah       2          47    32  146        Fast
23     11322   J Behrendorff       1           9     9  100        Fast

In [59]:
r1 = range(0,11)
V_out1 = df1.loc[(df1['bowler_kind'] == 'Fast') & df1['ball'].isin(r1)]
N_V_out1 = V_out1.groupby('match_id').size().count()
print(V_out1)

    match_id          bowler  inning  kohli_runs  ball   SR bowler_kind
3         90         A Nehra       1           0     1    0        Fast
7        231      KA Pollard       2           9     6  150        Fast
11       367        MM Patel       1           3     1  300        Fast
13       417     DS Kulkarni       2           1     4   25        Fast
14       462          Z Khan       2           0     2    0        Fast
19       617  MJ McClenaghan       1           7     7  100        Fast
23     11322   J Behrendorff       1           9     9  100        Fast

In [60]:
r2 = range(11,21)
V_out2 = df1.loc[(df1['bowler_kind'] == 'Fast') & df1['ball'].isin(r2)]
N_V_out2 = V_out2.groupby('match_id').size().count()
print(V_out2)

    match_id          bowler  inning  kohli_runs  ball   SR bowler_kind
1         37  MJ McClenaghan       1          20    14  142        Fast
2         63         A Nehra       2          23    14  164        Fast
5        188          Z Khan       2          17    12  141        Fast
8        242      KA Pollard       1          12    19   63        Fast
9        306        AN Ahmed       1           8    12   66        Fast
12       383       JJ Bumrah       1          24    14  171        Fast
16       534  MJ McClenaghan       2          18    18  100        Fast

In [61]:
r3 = range(21,31)
V_out3 = df1.loc[(df1['bowler_kind'] == 'Fast') & df1['ball'].isin(r3)]
N_V_out3 = V_out3.groupby('match_id').size().count()
print(V_out3)

    match_id      bowler  inning  kohli_runs  ball   SR bowler_kind
6        226  KA Pollard       2          37    24  154        Fast
15       484     P Suyal       2          35    28  125        Fast
21      7924   HH Pandya       1          32    26  123        Fast

In [62]:
r4 = range(31,41)
V_out4 = df1.loc[(df1['bowler_kind'] == 'Fast') & df1['ball'].isin(r4)]
N_V_out4 = V_out4.groupby('match_id').size().count()
print(V_out4)

    match_id     bowler  inning  kohli_runs  ball   SR bowler_kind
22     11143  JJ Bumrah       2          47    32  146        Fast

In [63]:
r5 = range(41,51)
V_out5 = df1.loc[(df1['bowler_kind'] == 'Fast') & df1['ball'].isin(r5)]
N_V_out5 = V_out5.groupby('match_id').size().count()
print(V_out5)

   match_id          bowler  inning  kohli_runs  ball   SR bowler_kind
0        12  MJ McClenaghan       1          62    47  131        Fast

In [ ]:
|