In [1]:
from pandas import *

In [14]:
df = read_cv(r'C:\Users\Asus\Desktop\WPL Datasets\MI vs DC deliveries.csv)

      match_id  inning    batting_team      bowling_team  over  ball  \
0           24       1  Mumbai Indians  Delhi Daredevils     1     1
1           24       1  Mumbai Indians  Delhi Daredevils     1     2
2           24       1  Mumbai Indians  Delhi Daredevils     1     3
3           24       1  Mumbai Indians  Delhi Daredevils     1     4
4           24       1  Mumbai Indians  Delhi Daredevils     1     5
...        ...     ...             ...               ...   ...   ...
5770     11325       2  Delhi Capitals    Mumbai Indians    20     2
5771     11325       2  Delhi Capitals    Mumbai Indians    20     3
5772     11325       2  Delhi Capitals    Mumbai Indians    20     4
5773     11325       2  Delhi Capitals    Mumbai Indians    20     5
5774     11325       2  Delhi Capitals    Mumbai Indians    20     6

         batsman non_striker     bowler  is_super_over  wide_runs  bye_runs  \
0       PA Patel  JC Buttler   K Rabada              0          0         0
1     JC Buttler    PA Patel   K Rabada              0          5         0
2     JC Buttler    PA Patel   K Rabada              0          0         0
3       PA Patel  JC Buttler   K Rabada              0          0         0
4     JC Buttler    PA Patel   K Rabada              0          0         0
...          ...         ...        ...            ...        ...       ...
5770    K Rabada    A Mishra  HH Pandya              0          0         0
5771    K Rabada    A Mishra  HH Pandya              0          0         0
5772    K Rabada    A Mishra  HH Pandya              0          0         0
5773    A Mishra    I Sharma  HH Pandya              0          0         0
5774    A Mishra    I Sharma  HH Pandya              0          0         0

      legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
0               1            0             0             0           1
1               0            0             0             0           5
2               0            0             0             1           0
3               0            0             0             1           0
4               0            0             0             0           0
...           ...          ...           ...           ...         ...
5770            0            0             0             6           0
5771            0            0             0             0           0
5772            0            0             0             0           0
5773            0            0             0             2           0
5774            0            0             0             1           0

      total_runs player_dismissed
0              1              NaN
1              5              NaN
2              1              NaN
3              1              NaN
4              0              NaN
...          ...              ...
5770           6              NaN
5771           0              NaN
5772           0         K Rabada
5773           2              NaN
5774           1              NaN

[5775 rows x 19 columns]

In [5]:
matches = df.groupby(['match_id']).size().count()
print(matches)

24

In [6]:
column_name = 'wide_runs'
column_sum = df[column_name].sum()
print(column_sum)

227

In [11]:
WidesPerMatch = column_sum/matches
print(WidesPerMatch)

9.458333333333334