In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')

In [3]:
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [4]:
battingteam = ['Mumbai Indians','Delhi Daredevils','Delhi Capitals']
bowlingteam = ['Mumbai Indians','Delhi Daredevils','Delhi Capitals']
rslt_df = df.loc[df['batting_team'].isin(battingteam) & df['bowling_team'].isin(bowlingteam)]

In [6]:
rslt_df.to_csv (r'C:\Users\Asus\Desktop\WPL Datasets\Mumbai vs Delhi deliveries.csv', index = False, header = True)
print(rslt_df)

        match_id  inning    batting_team      bowling_team  over  ball  \
5512          24       1  Mumbai Indians  Delhi Daredevils     1     1
5513          24       1  Mumbai Indians  Delhi Daredevils     1     2
5514          24       1  Mumbai Indians  Delhi Daredevils     1     3
5515          24       1  Mumbai Indians  Delhi Daredevils     1     4
5516          24       1  Mumbai Indians  Delhi Daredevils     1     5
...          ...     ...             ...               ...   ...   ...
173000     11325       2  Delhi Capitals    Mumbai Indians    20     2
173001     11325       2  Delhi Capitals    Mumbai Indians    20     3
173002     11325       2  Delhi Capitals    Mumbai Indians    20     4
173003     11325       2  Delhi Capitals    Mumbai Indians    20     5
173004     11325       2  Delhi Capitals    Mumbai Indians    20     6

           batsman non_striker     bowler  is_super_over  ...  bye_runs  \
5512      PA Patel  JC Buttler   K Rabada              0  ...         0
5513    JC Buttler    PA Patel   K Rabada              0  ...         0
5514    JC Buttler    PA Patel   K Rabada              0  ...         0
5515      PA Patel  JC Buttler   K Rabada              0  ...         0
5516    JC Buttler    PA Patel   K Rabada              0  ...         0
...            ...         ...        ...            ...  ...       ...
173000    K Rabada    A Mishra  HH Pandya              0  ...         0
173001    K Rabada    A Mishra  HH Pandya              0  ...         0
173002    K Rabada    A Mishra  HH Pandya              0  ...         0
173003    A Mishra    I Sharma  HH Pandya              0  ...         0
173004    A Mishra    I Sharma  HH Pandya              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
5512              1            0             0             0           1
5513              0            0             0             0           5
5514              0            0             0             1           0
5515              0            0             0             1           0
5516              0            0             0             0           0
...             ...          ...           ...           ...         ...
173000            0            0             0             6           0
173001            0            0             0             0           0
173002            0            0             0             0           0
173003            0            0             0             2           0
173004            0            0             0             1           0

        total_runs  player_dismissed dismissal_kind     fielder
5512             1               NaN            NaN         NaN
5513             5               NaN            NaN         NaN
5514             1               NaN            NaN         NaN
5515             1               NaN            NaN         NaN
5516             0               NaN            NaN         NaN
...            ...               ...            ...         ...
173000           6               NaN            NaN         NaN
173001           0               NaN            NaN         NaN
173002           0          K Rabada         caught  KA Pollard
173003           2               NaN            NaN         NaN
173004           1               NaN            NaN         NaN

[5775 rows x 21 columns]

In [5]:
df1 = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\Mumbai vs Delhi deliveries.csv')
print(df1)

      match_id  inning    batting_team      bowling_team  over  ball  \
0           24       1  Mumbai Indians  Delhi Daredevils     1     1
1           24       1  Mumbai Indians  Delhi Daredevils     1     2
2           24       1  Mumbai Indians  Delhi Daredevils     1     3
3           24       1  Mumbai Indians  Delhi Daredevils     1     4
4           24       1  Mumbai Indians  Delhi Daredevils     1     5
...        ...     ...             ...               ...   ...   ...
5770     11325       2  Delhi Capitals    Mumbai Indians    20     2
5771     11325       2  Delhi Capitals    Mumbai Indians    20     3
5772     11325       2  Delhi Capitals    Mumbai Indians    20     4
5773     11325       2  Delhi Capitals    Mumbai Indians    20     5
5774     11325       2  Delhi Capitals    Mumbai Indians    20     6

         batsman non_striker     bowler  is_super_over  ...  bye_runs  \
0       PA Patel  JC Buttler   K Rabada              0  ...         0
1     JC Buttler    PA Patel   K Rabada              0  ...         0
2     JC Buttler    PA Patel   K Rabada              0  ...         0
3       PA Patel  JC Buttler   K Rabada              0  ...         0
4     JC Buttler    PA Patel   K Rabada              0  ...         0
...          ...         ...        ...            ...  ...       ...
5770    K Rabada    A Mishra  HH Pandya              0  ...         0
5771    K Rabada    A Mishra  HH Pandya              0  ...         0
5772    K Rabada    A Mishra  HH Pandya              0  ...         0
5773    A Mishra    I Sharma  HH Pandya              0  ...         0
5774    A Mishra    I Sharma  HH Pandya              0  ...         0

      legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
0               1            0             0             0           1
1               0            0             0             0           5
2               0            0             0             1           0
3               0            0             0             1           0
4               0            0             0             0           0
...           ...          ...           ...           ...         ...
5770            0            0             0             6           0
5771            0            0             0             0           0
5772            0            0             0             0           0
5773            0            0             0             2           0
5774            0            0             0             1           0

      total_runs  player_dismissed dismissal_kind     fielder
0              1               NaN            NaN         NaN
1              5               NaN            NaN         NaN
2              1               NaN            NaN         NaN
3              1               NaN            NaN         NaN
4              0               NaN            NaN         NaN
...          ...               ...            ...         ...
5770           6               NaN            NaN         NaN
5771           0               NaN            NaN         NaN
5772           0          K Rabada         caught  KA Pollard
5773           2               NaN            NaN         NaN
5774           1               NaN            NaN         NaN

[5775 rows x 21 columns]

In [6]:
matches = df1.groupby(['match_id']).size().count()
print(matches)

24

In [7]:
rohit = df1.loc[(df1['batsman'] == 'RG Sharma')]
print(rohit)

      match_id  inning    batting_team      bowling_team  over  ball  \
35          24       1  Mumbai Indians  Delhi Daredevils     6     2
36          24       1  Mumbai Indians  Delhi Daredevils     6     3
37          24       1  Mumbai Indians  Delhi Daredevils     6     4
38          24       1  Mumbai Indians  Delhi Daredevils     6     5
39          24       1  Mumbai Indians  Delhi Daredevils     6     6
...        ...     ...             ...               ...   ...   ...
5558     11325       1  Mumbai Indians    Delhi Capitals     6     1
5559     11325       1  Mumbai Indians    Delhi Capitals     6     2
5563     11325       1  Mumbai Indians    Delhi Capitals     6     6
5564     11325       1  Mumbai Indians    Delhi Capitals     6     7
5565     11325       1  Mumbai Indians    Delhi Capitals     7     1

        batsman non_striker     bowler  is_super_over  ...  bye_runs  \
35    RG Sharma      N Rana  CH Morris              0  ...         0
36    RG Sharma      N Rana  CH Morris              0  ...         0
37    RG Sharma      N Rana  CH Morris              0  ...         0
38    RG Sharma      N Rana  CH Morris              0  ...         0
39    RG Sharma      N Rana  CH Morris              0  ...         0
...         ...         ...        ...            ...  ...       ...
5558  RG Sharma   Q de Kock     K Paul              0  ...         0
5559  RG Sharma   Q de Kock     K Paul              0  ...         0
5563  RG Sharma   Q de Kock     K Paul              0  ...         0
5564  RG Sharma   Q de Kock     K Paul              0  ...         0
5565  RG Sharma   Q de Kock   A Mishra              0  ...         0

      legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
35              0            0             0             0           0
36              0            0             0             0           0
37              0            0             0             0           0
38              0            0             0             0           0
39              0            0             0             1           0
...           ...          ...           ...           ...         ...
5558            0            0             0             0           0
5559            0            0             0             1           0
5563            0            1             0             7           1
5564            0            0             0             1           0
5565            0            0             0             0           0

      total_runs  player_dismissed dismissal_kind fielder
35             0               NaN            NaN     NaN
36             0               NaN            NaN     NaN
37             0               NaN            NaN     NaN
38             0               NaN            NaN     NaN
39             1               NaN            NaN     NaN
...          ...               ...            ...     ...
5558           0               NaN            NaN     NaN
5559           1               NaN            NaN     NaN
5563           8               NaN            NaN     NaN
5564           1               NaN            NaN     NaN
5565           0         RG Sharma         bowled     NaN

[426 rows x 21 columns]

In [8]:
column_name = 'batsman_runs'
column_sum = rohit[column_name].sum()
print(column_sum)

563

In [9]:
avg = column_sum/matches
print(avg)

23.458333333333332