In [1]:
from pandas import *

In [14]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [17]:
players = ['AB de Villiers', 'V Kohli']
VK_ABD = df.loc[KXIPvsRCB['batsman'].isin(players) & df['non_striker'].isin(players)]
VK_ABD_runs = VK_ABD[['match_id', 'batsman_runs']]
print(VK_ABD_runs)

        match_id  batsman_runs
2647          12             1
2648          12             0
2649          12             1
2650          12             1
2651          12             0
...          ...           ...
177523     11345             4
177524     11345             6
177525     11345             1
177526     11345             1
177527     11345             0

[1862 rows x 2 columns]

In [18]:
VK_ABD_runs1 = VK_ABD_runs.groupby('match_id').agg({'batsman_runs':['sum']})
VK_ABD_runs1.columns = ['total_runs']
print(VK_ABD_runs1)

          total_runs
match_id
12                43
17                27
33                20
245                2
248               42
...              ...
11311             24
11319             85
11337              5
11340             35
11345             17

[68 rows x 1 columns]

In [20]:
r1 = list(range(0,16))
a = VK_ABD_runs1.loc[VK_ABD_runs1['total_runs'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

27

In [21]:
r2 = list(range(16,26))
b = VK_ABD_runs1.loc[VK_ABD_runs1['total_runs'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

11

In [25]:
r3 = list(range(26,41))
c = VK_ABD_runs1.loc[VK_ABD_runs1['total_runs'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

7

In [26]:
max_value = VK_ABD_runs1['total_runs'].max()
r4 = list(range(41,max_value+1))
d = VK_ABD_runs1.loc[VK_ABD_runs1['total_runs'].isin(r4)]
D = d.groupby('match_id').size().count()
print(D)

23