In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')

In [3]:
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [6]:
team = ['Kings XI Punjab', 'Royal Challengers Bangalore']
KXIPvsRCB = df.loc[df['batting_team'].isin(team) & df['bowling_team'].isin(team)]
print(KXIPvsRCB)

        match_id  inning                 batting_team  \
1678           8       1  Royal Challengers Bangalore
1679           8       1  Royal Challengers Bangalore
1680           8       1  Royal Challengers Bangalore
1681           8       1  Royal Challengers Bangalore
1682           8       1  Royal Challengers Bangalore
...          ...     ...                          ...
174939     11333       2              Kings XI Punjab
174940     11333       2              Kings XI Punjab
174941     11333       2              Kings XI Punjab
174942     11333       2              Kings XI Punjab
174943     11333       2              Kings XI Punjab

                       bowling_team  over  ball        batsman    non_striker  \
1678                Kings XI Punjab     1     1      SR Watson   Vishnu Vinod
1679                Kings XI Punjab     1     2   Vishnu Vinod      SR Watson
1680                Kings XI Punjab     1     3   Vishnu Vinod      SR Watson
1681                Kings XI Punjab     1     4      SR Watson   Vishnu Vinod
1682                Kings XI Punjab     1     5      SR Watson   Vishnu Vinod
...                             ...   ...   ...            ...            ...
174939  Royal Challengers Bangalore    20     2       R Ashwin  Mandeep Singh
174940  Royal Challengers Bangalore    20     3      H Viljoen  Mandeep Singh
174941  Royal Challengers Bangalore    20     4       M Ashwin  Mandeep Singh
174942  Royal Challengers Bangalore    20     5       M Ashwin  Mandeep Singh
174943  Royal Challengers Bangalore    20     6  Mandeep Singh       M Ashwin

          bowler  is_super_over  ...  bye_runs  legbye_runs  noball_runs  \
1678    AR Patel              0  ...         0            0            0
1679    AR Patel              0  ...         0            0            0
1680    AR Patel              0  ...         0            0            0
1681    AR Patel              0  ...         0            0            0
1682    AR Patel              0  ...         0            0            0
...          ...            ...  ...       ...          ...          ...
174939  UT Yadav              0  ...         0            0            0
174940  UT Yadav              0  ...         0            0            0
174941  UT Yadav              0  ...         0            0            0
174942  UT Yadav              0  ...         0            0            0
174943  UT Yadav              0  ...         0            0            0

        penalty_runs  batsman_runs  extra_runs  total_runs  player_dismissed  \
1678               0             1           0           1               NaN
1679               0             0           0           0               NaN
1680               0             1           0           1               NaN
1681               0             0           0           0               NaN
1682               0             0           0           0               NaN
...              ...           ...         ...         ...               ...
174939             0             0           0           0          R Ashwin
174940             0             0           0           0         H Viljoen
174941             0             0           0           0               NaN
174942             0             1           0           1               NaN
174943             0             2           0           2               NaN

       dismissal_kind   fielder
1678              NaN       NaN
1679              NaN       NaN
1680              NaN       NaN
1681              NaN       NaN
1682              NaN       NaN
...               ...       ...
174939         caught   V Kohli
174940         caught  PA Patel
174941            NaN       NaN
174942            NaN       NaN
174943            NaN       NaN

[5476 rows x 21 columns]

In [7]:
sixes = KXIPvsRCB.loc[(KXIPvsRCB['batsman_runs'] == 6)]
print(sixes)

        match_id  inning                 batting_team  \
1695           8       1  Royal Challengers Bangalore
1731           8       1  Royal Challengers Bangalore
1771           8       1  Royal Challengers Bangalore
1777           8       1  Royal Challengers Bangalore
1781           8       1  Royal Challengers Bangalore
...          ...     ...                          ...
174902     11333       2              Kings XI Punjab
174904     11333       2              Kings XI Punjab
174915     11333       2              Kings XI Punjab
174917     11333       2              Kings XI Punjab
174938     11333       2              Kings XI Punjab

                       bowling_team  over  ball         batsman  \
1695                Kings XI Punjab     3     6  AB de Villiers
1731                Kings XI Punjab     9     6   Mandeep Singh
1771                Kings XI Punjab    16     3  AB de Villiers
1777                Kings XI Punjab    17     3  AB de Villiers
1781                Kings XI Punjab    17     7  AB de Villiers
...                             ...   ...   ...             ...
174902  Royal Challengers Bangalore    14     2        N Pooran
174904  Royal Challengers Bangalore    14     4        N Pooran
174915  Royal Challengers Bangalore    16     3        N Pooran
174917  Royal Challengers Bangalore    16     5        N Pooran
174938  Royal Challengers Bangalore    20     1        R Ashwin

           non_striker             bowler  is_super_over  ...  bye_runs  \
1695      Vishnu Vinod          MM Sharma              0  ...         0
1731    AB de Villiers        T Natarajan              0  ...         0
1771         STR Binny           VR Aaron              0  ...         0
1777         STR Binny         MP Stoinis              0  ...         0
1781         STR Binny         MP Stoinis              0  ...         0
...                ...                ...            ...  ...       ...
174902       DA Miller  Washington Sundar              0  ...         0
174904       DA Miller  Washington Sundar              0  ...         0
174915       DA Miller              M Ali              0  ...         0
174917       DA Miller              M Ali              0  ...         0
174938   Mandeep Singh           UT Yadav              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
1695              0            0             0             6           0
1731              0            0             0             6           0
1771              0            0             0             6           0
1777              0            0             0             6           0
1781              0            0             0             6           0
...             ...          ...           ...           ...         ...
174902            0            0             0             6           0
174904            0            0             0             6           0
174915            0            0             0             6           0
174917            0            0             0             6           0
174938            0            0             0             6           0

        total_runs  player_dismissed dismissal_kind fielder
1695             6               NaN            NaN     NaN
1731             6               NaN            NaN     NaN
1771             6               NaN            NaN     NaN
1777             6               NaN            NaN     NaN
1781             6               NaN            NaN     NaN
...            ...               ...            ...     ...
174902           6               NaN            NaN     NaN
174904           6               NaN            NaN     NaN
174915           6               NaN            NaN     NaN
174917           6               NaN            NaN     NaN
174938           6               NaN            NaN     NaN

[289 rows x 21 columns]

In [9]:
Only_sixes = sixes[['match_id', 'batsman_runs']]
print(Only_sixes)

        match_id  batsman_runs
1695           8             6
1731           8             6
1771           8             6
1777           8             6
1781           8             6
...          ...           ...
174902     11333             6
174904     11333             6
174915     11333             6
174917     11333             6
174938     11333             6

[289 rows x 2 columns]

In [12]:
N_sixes = Only_sixes.groupby('match_id').count()
N_sixes.columns = ['sixes']
print(N_sixes)

          sixes
match_id
8            20
42            6
84            4
94            9
127          12
139           9
181          20
205           7
280          12
296          19
333           7
350          14
429          14
448          14
475           4
488          16
557          21
566           7
615           5
626          20
7901         11
7941          7
11319        10
11333        21

In [14]:
r1 = list(range(0,6))
a = N_sixes.loc[N_sixes['sixes'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

3

In [15]:
r2 = list(range(6,11))
b = N_sixes.loc[N_sixes['sixes'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

8

In [17]:
r3 = list(range(11,15))
c = N_sixes.loc[N_sixes['sixes'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

6

In [19]:
max_value = N_sixes['sixes'].max()
r4 = list(range(15,max_value+1))
d = N_sixes.loc[N_sixes['sixes'].isin(r4)]
D = d.groupby('match_id').size().count()
print(D)

7