In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [4]:
team = ['Sunrisers Hyderabad', 'Rajasthan Royals']
RRvsSRH = df.loc[df['batting_team'].isin(team) & df['bowling_team'].isin(team)]
print(RRvsSRH)

        match_id  inning         batting_team         bowling_team  over  \
98439        416       1  Sunrisers Hyderabad     Rajasthan Royals     1
98440        416       1  Sunrisers Hyderabad     Rajasthan Royals     1
98441        416       1  Sunrisers Hyderabad     Rajasthan Royals     1
98442        416       1  Sunrisers Hyderabad     Rajasthan Royals     1
98443        416       1  Sunrisers Hyderabad     Rajasthan Royals     1
...          ...     ...                  ...                  ...   ...
175660     11336       2     Rajasthan Royals  Sunrisers Hyderabad    19
175661     11336       2     Rajasthan Royals  Sunrisers Hyderabad    19
175662     11336       2     Rajasthan Royals  Sunrisers Hyderabad    19
175663     11336       2     Rajasthan Royals  Sunrisers Hyderabad    19
175664     11336       2     Rajasthan Royals  Sunrisers Hyderabad    20

        ball    batsman non_striker           bowler  is_super_over  ...  \
98439      1   PA Reddy    S Dhawan       A Chandila              0  ...
98440      2   PA Reddy    S Dhawan       A Chandila              0  ...
98441      3   PA Reddy    S Dhawan       A Chandila              0  ...
98442      4   PA Reddy    S Dhawan       A Chandila              0  ...
98443      5   PA Reddy    S Dhawan       A Chandila              0  ...
...      ...        ...         ...              ...            ...  ...
175660     3   A Turner   SV Samson           S Kaul              0  ...
175661     4   A Turner   SV Samson           S Kaul              0  ...
175662     5  SV Samson    A Turner           S Kaul              0  ...
175663     6   A Turner   SV Samson           S Kaul              0  ...
175664     1  SV Samson    A Turner  Shakib Al Hasan              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
98439          0            0            0             0             0
98440          0            0            0             0             0
98441          0            0            0             0             2
98442          0            0            0             0             0
98443          0            0            0             0             0
...          ...          ...          ...           ...           ...
175660         0            0            0             0             0
175661         0            0            0             0             1
175662         0            1            0             0             1
175663         0            0            0             0             0
175664         0            0            0             0             4

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
98439            0           0               NaN            NaN        NaN
98440            0           0               NaN            NaN        NaN
98441            0           2               NaN            NaN        NaN
98442            0           0               NaN            NaN        NaN
98443            0           0          PA Reddy         caught  SR Watson
...            ...         ...               ...            ...        ...
175660           0           0               NaN            NaN        NaN
175661           0           1               NaN            NaN        NaN
175662           1           2               NaN            NaN        NaN
175663           0           0               NaN            NaN        NaN
175664           0           4               NaN            NaN        NaN

[2661 rows x 21 columns]

In [6]:
noball = RRvsSRH.loc[(RRvsSRH['noball_runs'] > 0)]
print(noball)

        match_id  inning         batting_team         bowling_team  over  \
125481       529       1  Sunrisers Hyderabad     Rajasthan Royals    11
151345      7897       2  Sunrisers Hyderabad     Rajasthan Royals     6
166513     11144       1     Rajasthan Royals  Sunrisers Hyderabad    11

        ball    batsman    non_striker       bowler  is_super_over  ...  \
125481     2    NV Ojha     EJG Morgan  JP Faulkner              0  ...
151345     1   S Dhawan  KS Williamson   B Laughlin              0  ...
166513     3  SV Samson      AM Rahane       S Kaul              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
125481         0            0            1             0             0
151345         0            0            1             0             2
166513         0            0            1             0             2

        extra_runs  total_runs  player_dismissed dismissal_kind fielder
125481           1           1               NaN            NaN     NaN
151345           1           3               NaN            NaN     NaN
166513           1           3               NaN            NaN     NaN

[3 rows x 21 columns]

In [7]:
N_RRvsSRH = RRvsSRH.groupby('match_id').size().count()
print(N_RRvsSRH)

11

In [ ]:
N_noba