In [141]:
from pandas import *

In [142]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [143]:
df1 = df.loc[(df['batting_team']) == 'Rajasthan Royals']
a = df1.groupby(['match_id', 'batsman']).agg({'batsman_runs':['sum']})
a.columns = ['batsman_runs']
print(a)

                     batsman_runs
match_id batsman
62       D Salunkhe            26
         DS Lehmann             1
         M Kaif                 9
         M Rawat                2
         RA Jadeja             29
...                           ...
11344    R Parag               55
         S Gopal               12
         STR Binny              0
         SV Samson              6
         VR Aaron               3

[1101 rows x 1 columns]

In [149]:
grouped = a.groupby('match_id')['batsman_runs'].nlargest()
print(grouped)

match_id  match_id  batsman
62        62        RA Jadeja        29
                    D Salunkhe       26
                    SR Watson        21
                    SK Warne         14
                    YK Pathan        10
                                     ..
11344     11344     R Parag          55
                    L Livingstone    14
                    S Gopal          12
                    I Sodhi           9
                    M Lomror          8
Name: batsman_runs, Length: 705, dtype: int64

In [152]:
b = grouped.groupby('match_id').head(1)
print(b)

match_id  match_id  batsman
62        62        RA Jadeja       29
65        65        SR Watson       76
68        68        GC Smith        71
70        70        SR Watson       61
78        78        SA Asnodkar     60
                                  ...
11331     11331     AM Rahane      108
11334     11334     R Parag         50
11336     11336     SV Samson       53
11340     11340     SV Samson       28
11344     11344     R Parag         55
Name: batsman_runs, Length: 146, dtype: int64

In [156]:
c = b.to_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\abc.csv')

In [157]:
d = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\abc.csv')

In [159]:
SPD_Smith = d.loc[(d['batsman'] == 'SPD Smith')]
N_SPD_Smith = SPD_Smith.groupby('match_id').size().count()
print(N_SPD_Smith)

6

In [163]:
SV_Samson = d.loc[(d['batsman'] == 'SV Samson')]
N_SV_Samson = SV_Samson.groupby('match_id').size().count()
print(N_SV_Samson)

12

In [164]:
JC_Buttler = d.loc[(d['batsman'] == 'JC Buttler')]
N_JC_Buttler = JC_Buttler.groupby('match_id').size().count()
print(N_JC_Buttler)

9

In [166]:
e = d.groupby('batsman').count()
print(e)

                 match_id  match_id.1  batsman_runs
batsman
AA Jhunjhunwala         2           2             2
AC Voges                1           1             1
AL Menaria              3           3             3
AM Rahane              21          21            21
AP Dole                 1           1             1
AS Raut                 1           1             1
BA Stokes               3           3             3
BJ Hodge                6           6             6
D Short                 1           1             1
DJ Hooda                1           1             1
DS Kulkarni             1           1             1
GC Smith                6           6             6
J Botha                 4           4             4
JC Buttler              9           9             9
JP Faulkner             2           2             2
KK Cooper               1           1             1
KK Nair                 4           4             4
LA Carseldine           1           1             1
LRPL Taylor             2           2             2
MJ Lumb                 1           1             1
NV Ojha                 5           5             5
Niraj Patel             2           2             2
OA Shah                 3           3             3
R Dravid               10          10            10
R Parag                 2           2             2
RA Jadeja               4           4             4
RA Tripathi             2           2             2
RJ Quiney               1           1             1
SA Asnodkar             3           3             3
SPD Smith               6           6             6
SR Watson              17          17            17
SV Samson              12          12            12
YK Pathan               8           8             8