In [24]:
from pandas import *

In [25]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [26]:
team = ['Delhi Daredevils', 'Delhi Capitals']
CSKbattingvsDCbowling = df.loc[df['bowling_team'].isin(team) & (df['batting_team'] == 'Chennai Super Kings')]
print(CSKbattingvsDCbowling)

        match_id  inning         batting_team      bowling_team  over  ball  \
18372         79       1  Chennai Super Kings  Delhi Daredevils     1     1
18373         79       1  Chennai Super Kings  Delhi Daredevils     1     2
18374         79       1  Chennai Super Kings  Delhi Daredevils     1     3
18375         79       1  Chennai Super Kings  Delhi Daredevils     1     4
18376         79       1  Chennai Super Kings  Delhi Daredevils     1     5
...          ...     ...                  ...               ...   ...   ...
178825     11414       2  Chennai Super Kings    Delhi Capitals    19     2
178826     11414       2  Chennai Super Kings    Delhi Capitals    19     3
178827     11414       2  Chennai Super Kings    Delhi Capitals    19     4
178828     11414       2  Chennai Super Kings    Delhi Capitals    19     5
178829     11414       2  Chennai Super Kings    Delhi Capitals    19     6

           batsman non_striker      bowler  is_super_over  ...  bye_runs  \
18372     PA Patel  SP Fleming  GD McGrath              0  ...         0
18373   SP Fleming    PA Patel  GD McGrath              0  ...         0
18374   SP Fleming    PA Patel  GD McGrath              0  ...         0
18375   SP Fleming    PA Patel  GD McGrath              0  ...         0
18376   SP Fleming    PA Patel  GD McGrath              0  ...         0
...            ...         ...         ...            ...  ...       ...
178825    MS Dhoni   AT Rayudu    I Sharma              0  ...         0
178826    MS Dhoni   AT Rayudu    I Sharma              0  ...         0
178827    MS Dhoni   AT Rayudu    I Sharma              0  ...         0
178828   AT Rayudu    DJ Bravo    I Sharma              0  ...         0
178829    DJ Bravo   AT Rayudu    I Sharma              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
18372             0            0             0             1           0
18373             0            0             0             0           0
18374             0            0             0             0           0
18375             0            0             0             0           0
18376             0            0             0             3           0
...             ...          ...           ...           ...         ...
178825            0            0             0             2           0
178826            0            0             0             0           0
178827            0            0             0             0           0
178828            0            0             0             1           0
178829            4            0             0             4           4

        total_runs  player_dismissed dismissal_kind fielder
18372            1               NaN            NaN     NaN
18373            0               NaN            NaN     NaN
18374            0               NaN            NaN     NaN
18375            0               NaN            NaN     NaN
18376            3               NaN            NaN     NaN
...            ...               ...            ...     ...
178825           2               NaN            NaN     NaN
178826           0               NaN            NaN     NaN
178827           0          MS Dhoni         caught  K Paul
178828           1               NaN            NaN     NaN
178829           8               NaN            NaN     NaN

[2553 rows x 21 columns]

In [27]:
N_matches = CSKbattingvsDCbowling.groupby('match_id').size().count()
print(N_matches)

21

In [28]:
CSKbattingvsDCbowling['cum_runs'] = CSKbattingvsDCbowling.groupby(['match_id'])['total_runs'].apply(lambda x: x.cumsum())
print(CSKbattingvsDCbowling)

        match_id  inning         batting_team      bowling_team  over  ball  \
18372         79       1  Chennai Super Kings  Delhi Daredevils     1     1
18373         79       1  Chennai Super Kings  Delhi Daredevils     1     2
18374         79       1  Chennai Super Kings  Delhi Daredevils     1     3
18375         79       1  Chennai Super Kings  Delhi Daredevils     1     4
18376         79       1  Chennai Super Kings  Delhi Daredevils     1     5
...          ...     ...                  ...               ...   ...   ...
178825     11414       2  Chennai Super Kings    Delhi Capitals    19     2
178826     11414       2  Chennai Super Kings    Delhi Capitals    19     3
178827     11414       2  Chennai Super Kings    Delhi Capitals    19     4
178828     11414       2  Chennai Super Kings    Delhi Capitals    19     5
178829     11414       2  Chennai Super Kings    Delhi Capitals    19     6

           batsman non_striker      bowler  is_super_over  ...  legbye_runs  \
18372     PA Patel  SP Fleming  GD McGrath              0  ...            0
18373   SP Fleming    PA Patel  GD McGrath              0  ...            0
18374   SP Fleming    PA Patel  GD McGrath              0  ...            0
18375   SP Fleming    PA Patel  GD McGrath              0  ...            0
18376   SP Fleming    PA Patel  GD McGrath              0  ...            0
...            ...         ...         ...            ...  ...          ...
178825    MS Dhoni   AT Rayudu    I Sharma              0  ...            0
178826    MS Dhoni   AT Rayudu    I Sharma              0  ...            0
178827    MS Dhoni   AT Rayudu    I Sharma              0  ...            0
178828   AT Rayudu    DJ Bravo    I Sharma              0  ...            0
178829    DJ Bravo   AT Rayudu    I Sharma              0  ...            4

        noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs  \
18372             0             0             1           0           1
18373             0             0             0           0           0
18374             0             0             0           0           0
18375             0             0             0           0           0
18376             0             0             3           0           3
...             ...           ...           ...         ...         ...
178825            0             0             2           0           2
178826            0             0             0           0           0
178827            0             0             0           0           0
178828            0             0             1           0           1
178829            0             0             4           4           8

        player_dismissed  dismissal_kind fielder cum_runs
18372                NaN             NaN     NaN        1
18373                NaN             NaN     NaN        1
18374                NaN             NaN     NaN        1
18375                NaN             NaN     NaN        1
18376                NaN             NaN     NaN        4
...                  ...             ...     ...      ...
178825               NaN             NaN     NaN      153
178826               NaN             NaN     NaN      153
178827          MS Dhoni          caught  K Paul      153
178828               NaN             NaN     NaN      154
178829               NaN             NaN     NaN      162

[2553 rows x 22 columns]

c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
CSKbattingvsDCbowling.to_csv(r'C:\Users\Asus\Desktop\WPL Datasets\CSKcumruns.csv',index=False)

In [31]:
df1 = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\CSKcumruns.csv')
print(df1)

      match_id  inning         batting_team      bowling_team  over  ball  \
0           79       1  Chennai Super Kings  Delhi Daredevils     1     1
1           79       1  Chennai Super Kings  Delhi Daredevils     1     2
2           79       1  Chennai Super Kings  Delhi Daredevils     1     3
3           79       1  Chennai Super Kings  Delhi Daredevils     1     4
4           79       1  Chennai Super Kings  Delhi Daredevils     1     5
...        ...     ...                  ...               ...   ...   ...
2548     11414       2  Chennai Super Kings    Delhi Capitals    19     2
2549     11414       2  Chennai Super Kings    Delhi Capitals    19     3
2550     11414       2  Chennai Super Kings    Delhi Capitals    19     4
2551     11414       2  Chennai Super Kings    Delhi Capitals    19     5
2552     11414       2  Chennai Super Kings    Delhi Capitals    19     6

         batsman non_striker      bowler  is_super_over  ...  legbye_runs  \
0       PA Patel  SP Fleming  GD McGrath              0  ...            0
1     SP Fleming    PA Patel  GD McGrath              0  ...            0
2     SP Fleming    PA Patel  GD McGrath              0  ...            0
3     SP Fleming    PA Patel  GD McGrath              0  ...            0
4     SP Fleming    PA Patel  GD McGrath              0  ...            0
...          ...         ...         ...            ...  ...          ...
2548    MS Dhoni   AT Rayudu    I Sharma              0  ...            0
2549    MS Dhoni   AT Rayudu    I Sharma              0  ...            0
2550    MS Dhoni   AT Rayudu    I Sharma              0  ...            0
2551   AT Rayudu    DJ Bravo    I Sharma              0  ...            0
2552    DJ Bravo   AT Rayudu    I Sharma              0  ...            4

      noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs  \
0               0             0             1           0           1
1               0             0             0           0           0
2               0             0             0           0           0
3               0             0             0           0           0
4               0             0             3           0           3
...           ...           ...           ...         ...         ...
2548            0             0             2           0           2
2549            0             0             0           0           0
2550            0             0             0           0           0
2551            0             0             1           0           1
2552            0             0             4           4           8

      player_dismissed  dismissal_kind fielder cum_runs
0                  NaN             NaN     NaN        1
1                  NaN             NaN     NaN        1
2                  NaN             NaN     NaN        1
3                  NaN             NaN     NaN        1
4                  NaN             NaN     NaN        4
...                ...             ...     ...      ...
2548               NaN             NaN     NaN      153
2549               NaN             NaN     NaN      153
2550          MS Dhoni          caught  K Paul      153
2551               NaN             NaN     NaN      154
2552               NaN             NaN     NaN      162

[2553 rows x 22 columns]

In [32]:
CSK_100_runs = df1.loc[(df1['cum_runs'] >= 100)]
print(CSK_100_runs)

      match_id  inning         batting_team      bowling_team  over  ball  \
74          79       1  Chennai Super Kings  Delhi Daredevils    12     4
75          79       1  Chennai Super Kings  Delhi Daredevils    12     5
76          79       1  Chennai Super Kings  Delhi Daredevils    12     6
77          79       1  Chennai Super Kings  Delhi Daredevils    13     1
78          79       1  Chennai Super Kings  Delhi Daredevils    13     2
...        ...     ...                  ...               ...   ...   ...
2548     11414       2  Chennai Super Kings    Delhi Capitals    19     2
2549     11414       2  Chennai Super Kings    Delhi Capitals    19     3
2550     11414       2  Chennai Super Kings    Delhi Capitals    19     4
2551     11414       2  Chennai Super Kings    Delhi Capitals    19     5
2552     11414       2  Chennai Super Kings    Delhi Capitals    19     6

        batsman non_striker         bowler  is_super_over  ...  legbye_runs  \
74     S Vidyut    MS Dhoni  Mohammad Asif              0  ...            0
75     S Vidyut    MS Dhoni  Mohammad Asif              0  ...            0
76     MS Dhoni    S Vidyut  Mohammad Asif              0  ...            0
77     S Vidyut    MS Dhoni     GD McGrath              0  ...            0
78     MS Dhoni    S Vidyut     GD McGrath              0  ...            0
...         ...         ...            ...            ...  ...          ...
2548   MS Dhoni   AT Rayudu       I Sharma              0  ...            0
2549   MS Dhoni   AT Rayudu       I Sharma              0  ...            0
2550   MS Dhoni   AT Rayudu       I Sharma              0  ...            0
2551  AT Rayudu    DJ Bravo       I Sharma              0  ...            0
2552   DJ Bravo   AT Rayudu       I Sharma              0  ...            4

      noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs  \
74              0             0             4           0           4
75              0             0             1           0           1
76              0             0             2           0           2
77              0             0             1           0           1
78              0             0             4           0           4
...           ...           ...           ...         ...         ...
2548            0             0             2           0           2
2549            0             0             0           0           0
2550            0             0             0           0           0
2551            0             0             1           0           1
2552            0             0             4           4           8

      player_dismissed  dismissal_kind fielder cum_runs
74                 NaN             NaN     NaN      103
75                 NaN             NaN     NaN      104
76                 NaN             NaN     NaN      106
77                 NaN             NaN     NaN      107
78                 NaN             NaN     NaN      111
...                ...             ...     ...      ...
2548               NaN             NaN     NaN      153
2549               NaN             NaN     NaN      153
2550          MS Dhoni          caught  K Paul      153
2551               NaN             NaN     NaN      154
2552               NaN             NaN     NaN      162

[875 rows x 22 columns]

In [33]:
grouped = CSK_100_runs.groupby('match_id')
first = grouped.first()
first = first.reset_index(
print(first))

          inning         batting_team      bowling_team  over  ball  \
match_id
79             1  Chennai Super Kings  Delhi Daredevils    12     4
87             2  Chennai Super Kings  Delhi Daredevils    11     6
125            2  Chennai Super Kings  Delhi Daredevils    10     3
141            1  Chennai Super Kings  Delhi Daredevils    12     5
185            2  Chennai Super Kings  Delhi Daredevils    10     6
224            1  Chennai Super Kings  Delhi Daredevils    19     8
289            1  Chennai Super Kings  Delhi Daredevils    15     2
318            1  Chennai Super Kings  Delhi Daredevils    19     2
364            2  Chennai Super Kings  Delhi Daredevils    14     5
380            1  Chennai Super Kings  Delhi Daredevils    11     5
404            1  Chennai Super Kings  Delhi Daredevils    14     5
446            1  Chennai Super Kings  Delhi Daredevils    14     6
465            1  Chennai Super Kings  Delhi Daredevils    14     5
483            2  Chennai Super Kings  Delhi Daredevils    13     6
519            1  Chennai Super Kings  Delhi Daredevils    13     1
565            1  Chennai Super Kings  Delhi Daredevils    18     1
7923           1  Chennai Super Kings  Delhi Daredevils    11     2
7945           2  Chennai Super Kings  Delhi Daredevils    16     1
11141          2  Chennai Super Kings    Delhi Capitals    10     4
11341          1  Chennai Super Kings    Delhi Capitals    15     2
11414          2  Chennai Super Kings    Delhi Capitals    12     4

               batsman   non_striker          bowler  is_super_over  \
match_id
79            S Vidyut      MS Dhoni   Mohammad Asif              0
87            MS Dhoni     JA Morkel      PJ Sangwan              0
125           SK Raina      MS Dhoni      PJ Sangwan              0
141        S Badrinath      SK Raina      PJ Sangwan              0
185          ML Hayden      SK Raina        R Bhatia              0
224        S Badrinath  DE Bollinger       DP Nannes              0
289        S Badrinath      MS Dhoni        S Nadeem              0
318           DJ Bravo     JA Morkel        UT Yadav              0
364            M Vijay      SK Raina        VR Aaron              0
380            M Vijay      SK Raina        V Sehwag              0
404           MS Dhoni    MEK Hussey        M Morkel              0
446          RA Jadeja      MS Dhoni          S Kaul              0
465           SK Raina  F du Plessis       JP Duminy              0
483           DR Smith      SK Raina  Mohammed Shami              0
519       F du Plessis     RA Jadeja       JP Duminy              0
565           DJ Bravo      MS Dhoni       GS Sandhu              0
7923      F du Plessis     SR Watson       V Shankar              0
7945         RA Jadeja      MS Dhoni    S Lamichhane              0
11141        KM Jadhav      SK Raina       R Tewatia              0
11341         SK Raina      MS Dhoni       J Suchith              0
11414         SK Raina     SR Watson          K Paul              0

          wide_runs  ...  legbye_runs  noball_runs  penalty_runs  \
match_id             ...
79                0  ...            0            0             0
87                0  ...            0            0             0
125               0  ...            0            0             0
141               0  ...            0            0             0
185               0  ...            0            0             0
224               0  ...            0            0             0
289               0  ...            0            0             0
318               0  ...            0            0             0
364               0  ...            0            0             0
380               0  ...            0            0             0
404               0  ...            0            0             0
446               0  ...            0            0             0
465               0  ...            0            0             0
483               0  ...            0            0             0
519               0  ...            0            0             0
565               0  ...            0            0             0
7923              0  ...            0            1             0
7945              0  ...            0            0             0
11141             0  ...            0            0             0
11341             0  ...            0            0             0
11414             0  ...            0            0             0

          batsman_runs  extra_runs  total_runs  player_dismissed  \
match_id
79                   4           0           4          S Vidyut
87                   1           0           1         JA Morkel
125                  2           0           2          MS Dhoni
141                  6           0           6          SK Raina
185                  6           0           6         ML Hayden
224                  1           0           1       S Badrinath
289                  4           0           4       S Badrinath
318                  2           0           2          DJ Bravo
364                  6           0           6               NaN
380                  6           0           6          SK Raina
404                  4           0           4          MS Dhoni
446                  1           0           1         RA Jadeja
465                  2           0           2          SK Raina
483                  6           0           6          DR Smith
519                  4           0           4      F du Plessis
565                  6           0           6          DJ Bravo
7923                 2           1           3      F du Plessis
7945                 6           0           6          MS Dhoni
11141                4           0           4          SK Raina
11341                4           0           4          SK Raina
11414                1           0           1         SR Watson

             dismissal_kind      fielder cum_runs
match_id
79                   caught    VY Mahesh      103
87                  run out     V Sehwag      100
125                  caught   KD Karthik      100
141                  caught   TM Dilshan      102
185                  caught   TM Dilshan      102
224                  caught    DA Warner      100
289                 run out      Y Nagar      103
318                  bowled     V Sehwag      100
364                     NaN          NaN      101
380       caught and bowled       P Negi      103
404                  caught  BMAJ Mendis      103
446                  bowled          NaN      100
465                  caught      M Vijay      101
483                  caught      M Vijay      102
519                  caught      SS Iyer      100
565                  caught    JP Duminy      105
7923                 caught     TA Boult      102
7945                 caught      SS Iyer      101
11141                caught      RR Pant      100
11341                caught     S Dhawan      100
11414                caught     TA Boult      100

[21 rows x 21 columns]

In [34]:
first['balls'] = 6*first['over']+first['ball']
print(first)

    match_id  inning         batting_team      bowling_team  over  ball  \
0         79       1  Chennai Super Kings  Delhi Daredevils    12     4
1         87       2  Chennai Super Kings  Delhi Daredevils    11     6
2        125       2  Chennai Super Kings  Delhi Daredevils    10     3
3        141       1  Chennai Super Kings  Delhi Daredevils    12     5
4        185       2  Chennai Super Kings  Delhi Daredevils    10     6
5        224       1  Chennai Super Kings  Delhi Daredevils    19     8
6        289       1  Chennai Super Kings  Delhi Daredevils    15     2
7        318       1  Chennai Super Kings  Delhi Daredevils    19     2
8        364       2  Chennai Super Kings  Delhi Daredevils    14     5
9        380       1  Chennai Super Kings  Delhi Daredevils    11     5
10       404       1  Chennai Super Kings  Delhi Daredevils    14     5
11       446       1  Chennai Super Kings  Delhi Daredevils    14     6
12       465       1  Chennai Super Kings  Delhi Daredevils    14     5
13       483       2  Chennai Super Kings  Delhi Daredevils    13     6
14       519       1  Chennai Super Kings  Delhi Daredevils    13     1
15       565       1  Chennai Super Kings  Delhi Daredevils    18     1
16      7923       1  Chennai Super Kings  Delhi Daredevils    11     2
17      7945       2  Chennai Super Kings  Delhi Daredevils    16     1
18     11141       2  Chennai Super Kings    Delhi Capitals    10     4
19     11341       1  Chennai Super Kings    Delhi Capitals    15     2
20     11414       2  Chennai Super Kings    Delhi Capitals    12     4

         batsman   non_striker          bowler  is_super_over  ...  \
0       S Vidyut      MS Dhoni   Mohammad Asif              0  ...
1       MS Dhoni     JA Morkel      PJ Sangwan              0  ...
2       SK Raina      MS Dhoni      PJ Sangwan              0  ...
3    S Badrinath      SK Raina      PJ Sangwan              0  ...
4      ML Hayden      SK Raina        R Bhatia              0  ...
5    S Badrinath  DE Bollinger       DP Nannes              0  ...
6    S Badrinath      MS Dhoni        S Nadeem              0  ...
7       DJ Bravo     JA Morkel        UT Yadav              0  ...
8        M Vijay      SK Raina        VR Aaron              0  ...
9        M Vijay      SK Raina        V Sehwag              0  ...
10      MS Dhoni    MEK Hussey        M Morkel              0  ...
11     RA Jadeja      MS Dhoni          S Kaul              0  ...
12      SK Raina  F du Plessis       JP Duminy              0  ...
13      DR Smith      SK Raina  Mohammed Shami              0  ...
14  F du Plessis     RA Jadeja       JP Duminy              0  ...
15      DJ Bravo      MS Dhoni       GS Sandhu              0  ...
16  F du Plessis     SR Watson       V Shankar              0  ...
17     RA Jadeja      MS Dhoni    S Lamichhane              0  ...
18     KM Jadhav      SK Raina       R Tewatia              0  ...
19      SK Raina      MS Dhoni       J Suchith              0  ...
20      SK Raina     SR Watson          K Paul              0  ...

    noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs  \
0             0             0             4           0           4
1             0             0             1           0           1
2             0             0             2           0           2
3             0             0             6           0           6
4             0             0             6           0           6
5             0             0             1           0           1
6             0             0             4           0           4
7             0             0             2           0           2
8             0             0             6           0           6
9             0             0             6           0           6
10            0             0             4           0           4
11            0             0             1           0           1
12            0             0             2           0           2
13            0             0             6           0           6
14            0             0             4           0           4
15            0             0             6           0           6
16            1             0             2           1           3
17            0             0             6           0           6
18            0             0             4           0           4
19            0             0             4           0           4
20            0             0             1           0           1

    player_dismissed     dismissal_kind      fielder cum_runs balls
0           S Vidyut             caught    VY Mahesh      103    76
1          JA Morkel            run out     V Sehwag      100    72
2           MS Dhoni             caught   KD Karthik      100    63
3           SK Raina             caught   TM Dilshan      102    77
4          ML Hayden             caught   TM Dilshan      102    66
5        S Badrinath             caught    DA Warner      100   122
6        S Badrinath            run out      Y Nagar      103    92
7           DJ Bravo             bowled     V Sehwag      100   116
8                NaN                NaN          NaN      101    89
9           SK Raina  caught and bowled       P Negi      103    71
10          MS Dhoni             caught  BMAJ Mendis      103    89
11         RA Jadeja             bowled          NaN      100    90
12          SK Raina             caught      M Vijay      101    89
13          DR Smith             caught      M Vijay      102    84
14      F du Plessis             caught      SS Iyer      100    79
15          DJ Bravo             caught    JP Duminy      105   109
16      F du Plessis             caught     TA Boult      102    68
17          MS Dhoni             caught      SS Iyer      101    97
18          SK Raina             caught      RR Pant      100    64
19          SK Raina             caught     S Dhawan      100    92
20         SR Watson             caught     TA Boult      100    76

[21 rows x 23 columns]

In [35]:
r1 = list(range(0-41))
a = first.loc[first['balls'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

0

In [36]:
r2 = list(range(41-60))
b = first.loc[first['balls'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

0

In [37]:
r3 = list(range(61-71))
c = first.loc[first['balls'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

0

In [23]:
max_value = first['balls'].max()
r4 = list(range(71,max_value+1))
d = first.loc[first['balls'].isin(r3)]
D = c.groupby('match_id').size().count()
print(D)

0