In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [8]:
team = ['Delhi Daredevils', 'Delhi Capitals']
CSKbattingvsDCbowling = df.loc[df['bowling_team'].isin(team) & (df['batting_team'] == 'Chennai Super Kings')]
print(CSKbattingvsDCbowling)

        match_id  inning         batting_team      bowling_team  over  ball  \
18372         79       1  Chennai Super Kings  Delhi Daredevils     1     1
18373         79       1  Chennai Super Kings  Delhi Daredevils     1     2
18374         79       1  Chennai Super Kings  Delhi Daredevils     1     3
18375         79       1  Chennai Super Kings  Delhi Daredevils     1     4
18376         79       1  Chennai Super Kings  Delhi Daredevils     1     5
...          ...     ...                  ...               ...   ...   ...
178825     11414       2  Chennai Super Kings    Delhi Capitals    19     2
178826     11414       2  Chennai Super Kings    Delhi Capitals    19     3
178827     11414       2  Chennai Super Kings    Delhi Capitals    19     4
178828     11414       2  Chennai Super Kings    Delhi Capitals    19     5
178829     11414       2  Chennai Super Kings    Delhi Capitals    19     6

           batsman non_striker      bowler  is_super_over  ...  bye_runs  \
18372     PA Patel  SP Fleming  GD McGrath              0  ...         0
18373   SP Fleming    PA Patel  GD McGrath              0  ...         0
18374   SP Fleming    PA Patel  GD McGrath              0  ...         0
18375   SP Fleming    PA Patel  GD McGrath              0  ...         0
18376   SP Fleming    PA Patel  GD McGrath              0  ...         0
...            ...         ...         ...            ...  ...       ...
178825    MS Dhoni   AT Rayudu    I Sharma              0  ...         0
178826    MS Dhoni   AT Rayudu    I Sharma              0  ...         0
178827    MS Dhoni   AT Rayudu    I Sharma              0  ...         0
178828   AT Rayudu    DJ Bravo    I Sharma              0  ...         0
178829    DJ Bravo   AT Rayudu    I Sharma              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
18372             0            0             0             1           0
18373             0            0             0             0           0
18374             0            0             0             0           0
18375             0            0             0             0           0
18376             0            0             0             3           0
...             ...          ...           ...           ...         ...
178825            0            0             0             2           0
178826            0            0             0             0           0
178827            0            0             0             0           0
178828            0            0             0             1           0
178829            4            0             0             4           4

        total_runs  player_dismissed dismissal_kind fielder
18372            1               NaN            NaN     NaN
18373            0               NaN            NaN     NaN
18374            0               NaN            NaN     NaN
18375            0               NaN            NaN     NaN
18376            3               NaN            NaN     NaN
...            ...               ...            ...     ...
178825           2               NaN            NaN     NaN
178826           0               NaN            NaN     NaN
178827           0          MS Dhoni         caught  K Paul
178828           1               NaN            NaN     NaN
178829           8               NaN            NaN     NaN

[2553 rows x 21 columns]

In [9]:
runs = CSKbattingvsDCbowling.groupby('match_id').agg({'total_runs':['sum']})
runs.columns = ['total']
print(runs)

          total
match_id
79          169
87          188
125         180
141         163
185         190
224         112
289         176
318         110
364         115
380         222
404         169
446         168
465         177
483         181
519         150
565         119
7923        218
7945        130
11141       157
11341       186
11414       162

In [10]:
r1 = list(range(0,151))
a = runs.loc[runs['total'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

6

In [13]:
r2 = list(range(151,166))
b = runs.loc[runs['total'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

3

In [14]:
r3 = list(range(166,176))
c = runs.loc[runs['total'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

3

In [15]:
max_value = runs['total'].max()
r4 = list(range(176,max_value+1))
d = runs.loc[runs['total'].isin(r4)]
D = d.groupby('match_id').size().count()
print(D)

9