In [3]:
from pandas import *

In [4]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [6]:
overs = list(range(16,21))
team = ['Delhi Daredevils', 'Delhi Capitals']
CSK15_200vers = df.loc[(df['bowling_team'] == 'Chennai Super Kings') & df['over'].isin(overs) & df['batting_team'].isin(team)]
wickets = CSK15_200vers[['match_id', 'player_dismissed']].dropna()
print(wickets)

        match_id player_dismissed
20339         87        G Gambhir
20344         87         S Dhawan
20346         87     Shoaib Malik
28896        125        MK Tiwary
32944        141        DA Warner
32949        141         M Manhas
32953        141       KD Karthik
32957        141       PJ Sangwan
32963        141         R Bhatia
43455        185       KD Karthik
43473        185         R Bhatia
68440        289  Y Venugopal Rao
68452        289         JR Hopes
68465        289      AB McDonald
89980        380      Sunny Gupta
89984        380         UT Yadav
89986        380         VR Aaron
95785        404         M Morkel
95790        404        KM Jadhav
95798        404         UT Yadav
105853       446        DA Warner
105860       446        IK Pathan
105861       446          A Nehra
110313       465         S Nadeem
123166       519        JP Duminy
123179       519  NM Coulter-Nile
123186       519         A Mishra
123191       519      Imran Tahir
134058       565        JA Morkel
157584      7923          RR Pant
165802     11141          RR Pant
165804     11141         C Ingram
165809     11141           K Paul
165813     11141         S Dhawan
176679     11341        J Suchith
176685     11341         A Mishra
178687     11414     S Rutherford
178700     11414           K Paul
178705     11414          RR Pant
178710     11414         TA Boult

In [7]:
N_wickets = wickets.groupby('match_id').count()
print(N_wickets)

          player_dismissed
match_id
87                       3
125                      1
141                      5
185                      2
289                      3
380                      3
404                      3
446                      3
465                      1
519                      4
565                      1
7923                     1
11141                    4
11341                    2
11414                    4

In [9]:
matches = df.loc[(df['bowling_team'] == 'Chennai Super Kings') & df['batting_team'].isin(team)]
N_matches = matches.groupby('match_id').size().count()
print(N_matches)

21

In [11]:
r2 = list(range(3,5))
b = N_wickets.loc[N_wickets['player_dismissed'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

8

In [12]:
r3 = list(range(5,7))
c = N_wickets.loc[N_wickets['player_dismissed'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

1

In [13]:
Times_CSK_took_between_0_and_2_wickets = N_matches-(B+C)
print(Times_CSK_took_between_0_and_2_wickets)

12