In [1]:
from pandas import *

In [3]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [8]:
KXIP_KL = df.loc[(df['batting_team'] == 'Kings XI Punjab') & (df['batsman'] == 'KL Rahul')]
KL_runs = KXIP_KL.groupby('match_id').agg({'batsman_runs':['sum']})
KL_runs.columns = ['KL_runs']
print(KL_runs)

          KL_runs
match_id
7895           51
7901           48
7905           37
7909           18
7911           61
7915           23
7918           32
7927           24
7931           86
7933          101
7937           68
7941           22
7943           99
7949            8
11140           4
11142           1
11145          72
11149          15
11309          55
11313          71
11315         104
11319          18
11323          53
11328          12
11333          44
11339          84
11343           2
11346          75

In [9]:
KXIP = df.loc[(df['batting_team'] == 'Kings XI Punjab')]
KXIP_runs = KXIP.groupby('match_id').agg({'batsman_runs':['sum']})
KXIP_runs.columns = ['KXIP_runs']
print(KXIP_runs)

          KXIP_runs
match_id
4               154
8               144
11              154
15              135
19              144
...             ...
11328           163
11333           186
11339           167
11343           183
11346           174

[176 rows x 1 columns]

In [11]:
result = concat([KL_runs, KXIP_runs], axis = 1, join = 'inner')
result['percent'] = (result['KL_runs']*100/result['KXIP_runs']).astype(int)
print(result)

          KL_runs  KXIP_runs  percent
match_id
7895           51        167       30
7901           48        155       30
7905           37        197       18
7909           18        193        9
7911           61        126       48
7915           23        143       16
7918           32        119       26
7927           24        174       13
7931           86        155       55
7933          101        143       70
7937           68        214       31
7941           22         88       25
7943           99        183       54
7949            8        153        5
11140           4        184        2
11142           1        190        0
11145          72        177       40
11149          15        166        9
11309          55        138       39
11313          71        151       47
11315         104        197       52
11319          18        173       10
11323          53        182       29
11328          12        163        7
11333          44        186       23
11339          84        167       50
11343           2        183        1
11346          75        174       43

In [13]:
r1 = list(range(0,8))
a = result.loc[result['percent'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

5

In [15]:
r2 = list(range(8,15))
b = result.loc[result['percent'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

4

In [16]:
r3 = list(range(15,23))
c = result.loc[result['percent'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

2

In [18]:
max_value = result['percent'].max()
r4 = list(range(23,max_value+1))
d = result.loc[result['percent'].isin(r4)]
D = d.groupby('match_id').size().count()
print(D)

17