In [17]:
from pandas import *

In [18]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
SRH = df.loc[(df['batting_team'] == 'Sunrisers Hyderabad')]
SRH['runs_cumulative'] = SRH.groupby('match_id')['total_runs'].cumsum()
print(SRH)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
178462     11413       1  Sunrisers Hyderabad               Delhi Capitals
178463     11413       1  Sunrisers Hyderabad               Delhi Capitals
178464     11413       1  Sunrisers Hyderabad               Delhi Capitals
178465     11413       1  Sunrisers Hyderabad               Delhi Capitals
178466     11413       1  Sunrisers Hyderabad               Delhi Capitals

        over  ball        batsman  non_striker    bowler  is_super_over  ...  \
0          1     1      DA Warner     S Dhawan  TS Mills              0  ...
1          1     2      DA Warner     S Dhawan  TS Mills              0  ...
2          1     3      DA Warner     S Dhawan  TS Mills              0  ...
3          1     4      DA Warner     S Dhawan  TS Mills              0  ...
4          1     5      DA Warner     S Dhawan  TS Mills              0  ...
...      ...   ...            ...          ...       ...            ...  ...
178462    20     5  Mohammad Nabi     DJ Hooda    K Paul              0  ...
178463    20     6  Mohammad Nabi     DJ Hooda    K Paul              0  ...
178464    20     7       DJ Hooda  Rashid Khan    K Paul              0  ...
178465    20     8    Rashid Khan      B Kumar    K Paul              0  ...
178466    20     9   Basil Thampi      B Kumar    K Paul              0  ...

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
0                 0            0             0             0           0
1                 0            0             0             0           0
2                 0            0             0             4           0
3                 0            0             0             0           0
4                 0            0             0             0           2
...             ...          ...           ...           ...         ...
178462            0            0             0             0           0
178463            0            0             0             0           0
178464            0            0             0             1           0
178465            0            0             0             0           0
178466            0            0             0             1           0

        total_runs  player_dismissed  dismissal_kind   fielder runs_cumulative
0                0               NaN             NaN       NaN               0
1                0               NaN             NaN       NaN               0
2                4               NaN             NaN       NaN               4
3                0               NaN             NaN       NaN               4
4                2               NaN             NaN       NaN               6
...            ...               ...             ...       ...             ...
178462           0               NaN             NaN       NaN             169
178463           0     Mohammad Nabi          caught  AR Patel             169
178464           1               NaN             NaN       NaN             170
178465           0       Rashid Khan          caught   RR Pant             170
178466           1               NaN             NaN       NaN             171

[12908 rows x 22 columns]

c:\users\harsi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
fifty = wide_no_SRH.loc[(wide_no_SRH['runs_cumulative'] >= 50)]
fifty = fifty[['match_id', 'over', 'ball', 'runs_cumulative']]
fifty = fifty.groupby('match_id').first()
fifty['balls'] = fifty['over']*6+fifty['ball']
print(fifty)

          over  ball  runs_cumulative  balls
match_id
1            6     2               50     38
6            6     3               50     39
10           8     1               50     49
14           9     3               50     57
19           9     6               50     60
...        ...   ...              ...    ...
11336        6     5               52     41
11339        4     3               56     27
11342        5     4               52     34
11345        5     6               52     36
11413        6     4               50     40

[107 rows x 4 columns]

In [21]:
r1 = list(range(0,30))
a = fifty.loc[fifty['balls'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

2

In [22]:
r2 = list(range(30,37))
b = fifty.loc[fifty['balls'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

16

In [23]:
r3 = list(range(37,43))
c = fifty.loc[fifty['balls'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

28

In [26]:
max_value = fifty['balls'].max()
r4 = list(range(43,max_value+1))
d = fifty.loc[(fifty['balls'].isin(r4))]
D = d.groupby('match_id').size().count()
print(D)

61