In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [22]:
DA_Warner = df.loc[(df['batsman'] == 'DA Warner')]
DA_Warner_runs = DA_Warner.groupby('match_id').agg({'batsman_runs':['sum']})
DA_Warner_runs.columns = ['runs']
print(DA_Warner_runs)

          runs
match_id
1           14
6           76
10          49
14          26
19          70
...        ...
11324       51
11329       70
11332       59
11336       40
11339       91

[126 rows x 1 columns]

In [28]:
balls = DA_Warner[['match_id', 'ball']]
balls = balls.groupby('match_id').count()
print(balls)

          ball
match_id
1            9
6           47
10          34
14          31
19          57
...        ...
11324       26
11329       39
11332       47
11336       33
11339       61

[126 rows x 1 columns]

In [34]:
out = df.loc[(df['player_dismissed'] == 'DA Warner')]
out = out[['match_id','player_dismissed']]
out = out.groupby('match_id').count()
print(out)

          player_dismissed
match_id
1                        1
10                       1
14                       1
21                       1
25                       1
...                    ...
11324                    1
11329                    1
11332                    1
11336                    1
11339                    1

[109 rows x 1 columns]

In [41]:
result = concat([DA_Warner_runs, balls, out], axis = 1, join = 'outer')
result['player_dismissed'] = result['player_dismissed'].fillna(0).astype(int)
result['SR'] = (result['runs']*100/result['ball']).astype(int)
print(result)

          runs  ball  player_dismissed   SR
match_id
1           14     9                 1  155
6           76    47                 0  161
10          49    34                 1  144
14          26    31                 1   83
19          70    57                 0  122
...        ...   ...               ...  ...
11324       51    26                 1  196
11329       70    39                 1  179
11332       59    47                 1  125
11336       40    33                 1  121
11339       91    61                 1  149

[126 rows x 4 columns]

In [42]:
a = result.loc[(result['SR'] > 125) & (result['player_dismissed'] == 1)]
A = a.groupby('match_id').size().count()
print(A)

47

In [43]:
b = result.loc[(result['SR'] > 125) & (result['player_dismissed'] == 0)]
B = b.groupby('match_id').size().count()
print(B)

13

In [44]:
c = result.loc[(result['SR'] < 125) & (result['player_dismissed'] == 1)]
C = c.groupby('match_id').size().count()
print(C)

58

In [45]:
d = result.loc[(result['SR'] < 125) & (result['player_dismissed'] == 0)]
D = d.groupby('match_id').size().count()
print(D)

4