In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [18]:
CH_Gayle = df.loc[(df['batsman'] == 'CH Gayle')]
CH_Gayle['runs_cumulative'] = CH_Gayle.groupby('match_id')['batsman_runs'].cumsum()
CH_Gayle = CH_Gayle.loc[(CH_Gayle['noball_runs'] == 0) & (CH_Gayle['wide_runs'] == 0)]
CH_Gayle = CH_Gayle.groupby('match_id').head(10)
print(CH_Gayle)

        match_id  inning                 batting_team         bowling_team  \
125            1       2  Royal Challengers Bangalore  Sunrisers Hyderabad
131            1       2  Royal Challengers Bangalore  Sunrisers Hyderabad
132            1       2  Royal Challengers Bangalore  Sunrisers Hyderabad
133            1       2  Royal Challengers Bangalore  Sunrisers Hyderabad
137            1       2  Royal Challengers Bangalore  Sunrisers Hyderabad
...          ...     ...                          ...                  ...
177784     11346       2              Kings XI Punjab  Chennai Super Kings
177785     11346       2              Kings XI Punjab  Chennai Super Kings
177786     11346       2              Kings XI Punjab  Chennai Super Kings
177787     11346       2              Kings XI Punjab  Chennai Super Kings
177790     11346       2              Kings XI Punjab  Chennai Super Kings

        over  ball   batsman    non_striker     bowler  is_super_over  ...  \
125        1     1  CH Gayle  Mandeep Singh    A Nehra              0  ...
131        2     1  CH Gayle  Mandeep Singh    B Kumar              0  ...
132        2     2  CH Gayle  Mandeep Singh    B Kumar              0  ...
133        2     3  CH Gayle  Mandeep Singh    B Kumar              0  ...
137        3     1  CH Gayle  Mandeep Singh    A Nehra              0  ...
...      ...   ...       ...            ...        ...            ...  ...
177784     5     1  CH Gayle       KL Rahul  DL Chahar              0  ...
177785     5     2  CH Gayle       KL Rahul  DL Chahar              0  ...
177786     5     3  CH Gayle       KL Rahul  DL Chahar              0  ...
177787     5     4  CH Gayle       KL Rahul  DL Chahar              0  ...
177790     6     1  CH Gayle       KL Rahul   DJ Bravo              0  ...

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
125               0            0             0             1           0
131               0            0             0             0           0
132               0            0             0             0           0
133               0            0             0             1           0
137               0            0             0             0           0
...             ...          ...           ...           ...         ...
177784            0            0             0             0           0
177785            0            0             0             0           0
177786            0            0             0             0           0
177787            0            0             0             1           0
177790            0            0             0             0           0

        total_runs  player_dismissed  dismissal_kind fielder runs_cumulative
125              1               NaN             NaN     NaN               1
131              0               NaN             NaN     NaN               1
132              0               NaN             NaN     NaN               1
133              1               NaN             NaN     NaN               2
137              0               NaN             NaN     NaN               2
...            ...               ...             ...     ...             ...
177784           0               NaN             NaN     NaN               5
177785           0               NaN             NaN     NaN               5
177786           0               NaN             NaN     NaN               5
177787           1               NaN             NaN     NaN               6
177790           0               NaN             NaN     NaN               6

[1105 rows x 22 columns]

c:\users\harsi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
CH_Gayle1 = CH_Gayle.groupby('match_id')['runs_cumulative'].max().reset_index()
print(CH_Gayle1)

     match_id  runs_cumulative
0           1               21
1           5                6
2          12                7
3          20               16
4          27                2
..        ...              ...
119     11328               24
120     11333               24
121     11339                4
122     11343               13
123     11346                6

[124 rows x 2 columns]

In [28]:
r1 = list(range(0,11))
a = CH_Gayle1.loc[CH_Gayle1['runs_cumulative'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

74

In [29]:
r2 = list(range(11,19))
b = CH_Gayle1.loc[CH_Gayle1['runs_cumulative'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

32

In [30]:
r3 = list(range(19,27))
c = CH_Gayle1.loc[CH_Gayle1['runs_cumulative'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

13

In [35]:
max_value = CH_Gayle1['runs_cumulative'].max()
r4 = list(range(27,max_value+1))
d = CH_Gayle1.loc[CH_Gayle1['runs_cumulative'].isin(r4)]
D = d.groupby('match_id').size().count()
print(D)

5