In [1]:
from pandas import *
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')

In [16]:
def economy(player):
    bowler = df.loc[(df['bowler'] == player)]
    runs = bowler.groupby('match_id').agg({'batsman_runs':['sum']})
    runs.columns = ['runs']
    balls = bowler.loc[(bowler['wide_runs'] == 0) & (bowler['noball_runs'] == 0)]
    N_balls = balls.groupby('match_id').count()
    N_balls = N_balls[['ball']]
    result = concat([runs, N_balls], axis = 1).fillna(0)
    result = result.loc[result['ball'] > 6]
    result['Economy'] = result['runs']/(result['ball']/6)
    #result = result.loc[result['Economy'] < 8]
    result = result['Economy'].mean()
    return result

In [19]:
data = []
bowler = ['S Gill', 'N Rana', 'S Mavi', 'EJG Morgan', 'KD Karthik', 'SP Narine','RA Tripathi', 'AD Russell', 'V Chakravarthy', 'PJ Cummins', 'BA Stokes', 'RV Uthappa', 'SPD Smith', 'SV Samson', 'R Tewatia', 'R Parag', 'VR Aaron', 'J Archer', 'S Gopal', 'JC Buttler']
for i in bowler:
    data.append([i, economy(i)])
bowler_economy = DataFrame(data, columns = ['bowler', 'economy']).fillna(0)
bowler_economy = bowler_economy.sort_values(['economy'])
print(bowler_economy)

            bowler    economy
0           S Gill   0.000000
13       SV Samson   0.000000
12       SPD Smith   0.000000
11      RV Uthappa   0.000000
6      RA Tripathi   0.000000
19      JC Buttler   0.000000
4       KD Karthik   0.000000
3       EJG Morgan   0.000000
5        SP Narine   6.667866
14       R Tewatia   7.463542
1           N Rana   7.750000
17        J Archer   7.777940
9       PJ Cummins   7.912281
18         S Gopal   7.920788
15         R Parag   8.208333
16        VR Aaron   8.286522
10       BA Stokes   8.445402
7       AD Russell   8.756316
2           S Mavi   9.468750
8   V Chakravarthy  11.666667