In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [4]:
KKRvsRCB = df.loc[(df['batting_team'] == 'Royal Challengers Bangalore') & (df['bowling_team'] == 'Kolkata Knight Riders') & df['over'].isin(list(range(16,21)))]
print(KKRvsRCB)

        match_id  inning                 batting_team           bowling_team  \
10498         45       1  Royal Challengers Bangalore  Kolkata Knight Riders
10499         45       1  Royal Challengers Bangalore  Kolkata Knight Riders
10500         45       1  Royal Challengers Bangalore  Kolkata Knight Riders
10501         45       1  Royal Challengers Bangalore  Kolkata Knight Riders
10502         45       1  Royal Challengers Bangalore  Kolkata Knight Riders
...          ...     ...                          ...                    ...
173125     11326       1  Royal Challengers Bangalore  Kolkata Knight Riders
173126     11326       1  Royal Challengers Bangalore  Kolkata Knight Riders
173127     11326       1  Royal Challengers Bangalore  Kolkata Knight Riders
173128     11326       1  Royal Challengers Bangalore  Kolkata Knight Riders
173129     11326       1  Royal Challengers Bangalore  Kolkata Knight Riders

        over  ball        batsman non_striker     bowler  is_super_over  ...  \
10498     16     1  Mandeep Singh     TM Head  SP Narine              0  ...
10499     16     2        TM Head   KM Jadhav  SP Narine              0  ...
10500     16     3      KM Jadhav     TM Head  SP Narine              0  ...
10501     16     4        TM Head   KM Jadhav  SP Narine              0  ...
10502     16     5      KM Jadhav     TM Head  SP Narine              0  ...
...      ...   ...            ...         ...        ...            ...  ...
173125    20     2     MP Stoinis     V Kohli   H Gurney              0  ...
173126    20     3     MP Stoinis     V Kohli   H Gurney              0  ...
173127    20     4     MP Stoinis     V Kohli   H Gurney              0  ...
173128    20     5        V Kohli  MP Stoinis   H Gurney              0  ...
173129    20     6        V Kohli  MP Stoinis   H Gurney              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
10498          0            0            0             0             0
10499          0            0            0             0             1
10500          0            0            0             0             1
10501          0            0            0             0             1
10502          0            0            0             0             0
...          ...          ...          ...           ...           ...
173125         0            0            0             0             4
173126         0            0            0             0             6
173127         0            0            0             0             1
173128         0            0            0             0             4
173129         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind   fielder
10498            0           0     Mandeep Singh         caught  UT Yadav
10499            0           1               NaN            NaN       NaN
10500            0           1               NaN            NaN       NaN
10501            0           1               NaN            NaN       NaN
10502            0           0               NaN            NaN       NaN
...            ...         ...               ...            ...       ...
173125           0           4               NaN            NaN       NaN
173126           0           6               NaN            NaN       NaN
173127           0           1               NaN            NaN       NaN
173128           0           4               NaN            NaN       NaN
173129           0           0           V Kohli         caught    S Gill

[540 rows x 21 columns]

In [11]:
RCBruns = KKRvsRCB.groupby('match_id').agg({'total_runs':['sum']}).astype(int)
RCBruns.columns = [['runs']]
print(RCBruns)

         runs
match_id
45         53
60          1
88         13
134        45
156        57
178        46
217        42
258        23
317        42
344        56
392        41
441        31
468        32
506        59
522        60
606        73
624        51
7896       45
7922       69
11153      66
11326      94

In [7]:
N_KKRvsRCB = KKRvsRCB.groupby('match_id').size().count()
print(N_KKRvsRCB)

21

In [16]:
5 5 7 4

SyntaxError: invalid syntax (<ipython-input-16-ce99041d89df>, line 1)