In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [73]:
KKRvsRCB = df.loc[(df['batting_team'] == 'Royal Challengers Bangalore') & (df['batsman'] == 'AB de Villiers')]
print(KKRvsRCB)

        match_id  inning                 batting_team         bowling_team  \
1688           8       1  Royal Challengers Bangalore      Kings XI Punjab
1689           8       1  Royal Challengers Bangalore      Kings XI Punjab
1693           8       1  Royal Challengers Bangalore      Kings XI Punjab
1694           8       1  Royal Challengers Bangalore      Kings XI Punjab
1695           8       1  Royal Challengers Bangalore      Kings XI Punjab
...          ...     ...                          ...                  ...
176416     11340       1  Royal Challengers Bangalore     Rajasthan Royals
176417     11340       1  Royal Challengers Bangalore     Rajasthan Royals
176422     11340       1  Royal Challengers Bangalore     Rajasthan Royals
177526     11345       2  Royal Challengers Bangalore  Sunrisers Hyderabad
177533     11345       2  Royal Challengers Bangalore  Sunrisers Hyderabad

        over  ball         batsman   non_striker          bowler  \
1688       2     5  AB de Villiers  Vishnu Vinod  Sandeep Sharma
1689       2     6  AB de Villiers  Vishnu Vinod  Sandeep Sharma
1693       3     4  AB de Villiers  Vishnu Vinod       MM Sharma
1694       3     5  AB de Villiers  Vishnu Vinod       MM Sharma
1695       3     6  AB de Villiers  Vishnu Vinod       MM Sharma
...      ...   ...             ...           ...             ...
176416     1     5  AB de Villiers       V Kohli        VR Aaron
176417     1     6  AB de Villiers       V Kohli        VR Aaron
176422     2     5  AB de Villiers    MP Stoinis         S Gopal
177526     2     4  AB de Villiers       V Kohli         K Ahmed
177533     3     5  AB de Villiers     S Hetmyer         B Kumar

        is_super_over  ...  bye_runs  legbye_runs  noball_runs  penalty_runs  \
1688                0  ...         0            0            0             0
1689                0  ...         0            0            0             0
1693                0  ...         0            0            0             0
1694                0  ...         0            0            0             0
1695                0  ...         0            0            0             0
...               ...  ...       ...          ...          ...           ...
176416              0  ...         0            0            0             0
176417              0  ...         0            0            0             0
176422              0  ...         0            0            0             0
177526              0  ...         0            0            0             0
177533              0  ...         0            0            0             0

        batsman_runs  extra_runs  total_runs  player_dismissed dismissal_kind  \
1688               4           0           4               NaN            NaN
1689               0           0           0               NaN            NaN
1693               0           0           0               NaN            NaN
1694               0           0           0               NaN            NaN
1695               6           0           6               NaN            NaN
...              ...         ...         ...               ...            ...
176416             2           0           2               NaN            NaN
176417             4           0           4               NaN            NaN
176422             0           0           0    AB de Villiers         caught
177526             1           0           1               NaN            NaN
177533             0           0           0    AB de Villiers         caught

           fielder
1688           NaN
1689           NaN
1693           NaN
1694           NaN
1695           NaN
...            ...
176416         NaN
176417         NaN
176422     R Parag
177526         NaN
177533  MJ Guptill

[2395 rows x 21 columns]

In [74]:
ABD = KKRvsRCB[['match_id', 'over', 'ball', 'batsman_runs']]
print(ABD)

        match_id  over  ball  batsman_runs
1688           8     2     5             4
1689           8     2     6             0
1693           8     3     4             0
1694           8     3     5             0
1695           8     3     6             6
...          ...   ...   ...           ...
176416     11340     1     5             2
176417     11340     1     6             4
176422     11340     2     5             0
177526     11345     2     4             1
177533     11345     3     5             0

[2395 rows x 4 columns]

In [75]:
ABD_runs = ABD.groupby('match_id')['batsman_runs'].cumsum()
print(ABD_runs)

1688       4
1689       4
1693       4
1694       4
1695      10
          ..
176416     6
176417    10
176422    10
177526     1
177533     1
Name: batsman_runs, Length: 2395, dtype: int64

In [76]:
runs = ABD.drop(['batsman_runs'], axis = 1)
print(runs)

        match_id  over  ball
1688           8     2     5
1689           8     2     6
1693           8     3     4
1694           8     3     5
1695           8     3     6
...          ...   ...   ...
176416     11340     1     5
176417     11340     1     6
176422     11340     2     5
177526     11345     2     4
177533     11345     3     5

[2395 rows x 3 columns]

In [77]:
result = concat([runs, ABD_runs], axis=1)
print(result)

        match_id  over  ball  batsman_runs
1688           8     2     5             4
1689           8     2     6             4
1693           8     3     4             4
1694           8     3     5             4
1695           8     3     6            10
...          ...   ...   ...           ...
176416     11340     1     5             6
176417     11340     1     6            10
176422     11340     2     5            10
177526     11345     2     4             1
177533     11345     3     5             1

[2395 rows x 4 columns]

In [78]:
final = result.loc[(result['batsman_runs']) >= 30]
print(final)

        match_id  over  ball  batsman_runs
1753           8    13     3            30
1758           8    14     2            30
1759           8    14     3            31
1768           8    15     6            31
1771           8    16     3            37
...          ...   ...   ...           ...
174810     11333    19     4            72
174811     11333    19     5            78
174812     11333    19     6            79
174813     11333    20     1            85
174814     11333    20     2            86

[765 rows x 4 columns]

In [81]:
grouped_final = final.groupby('match_id')
first_values = grouped_final.first()
first_values = first_values.reset_index()
print(first_values)

    match_id  over  ball  batsman_runs
0          8    13     3            30
1         37     9     5            30
2        237    15     7            30
3        242    15     3            30
4        248    14     5            31
5        296    12     1            30
6        312    15     1            30
7        329    20     4            32
8        333    13     5            31
9        338    17     6            30
10       356    18     5            31
11       396    15     2            33
12       401    12     4            31
13       411    19     4            31
14       426    20     1            30
15       438    19     4            31
16       448    20     3            31
17       462    12     1            30
18       481    14     1            30
19       488    14     1            35
20       492    18     1            32
21       495    15     1            33
22       525    16     3            35
23       534    13     4            31
24       540    11     5            30
25       546     7     2            31
26       557    16     2            30
27       562     9     3            31
28       574    15     4            30
29       580     8     5            30
30       587     6     2            33
31       592    10     5            31
32       603    14     1            33
33       615    16     3            32
34       620     8     6            30
35       624    15     6            34
36       633    11     2            30
37      7896    12     3            33
38      7901    15     5            30
39      7912    10     3            33
40      7917    11     1            32
41      7938    11     4            32
42      7944     7     2            33
43      7946     8     1            30
44     11143    15     3            33
45     11153    14     3            34
46     11319    13     5            33
47     11322    12     1            30
48     11333    15     3            35

In [135]:
balls = result.groupby('match_id').count().reset_index()
balls1 = balls.loc[balls['match_id'].isin(first_values['match_id'])]
balls2 = balls1.groupby('match_id')
balls3 = balls2.first()
balls4 = balls3.drop(['over', 'batsman_runs'], axis = 1)
print(balls4)

          ball
match_id
8           49
37          28
237         41
242         37
248         45
296         27
312         42
329         14
333         41
338         24
356         17
396         33
401         36
411          9
426         23
438         17
448         20
462         48
481         43
488         28
492         32
495         17
525         29
534         12
540         34
546         47
557         24
562         61
574         40
580         44
587         33
592         46
603         33
615         35
620         53
624         32
633         48
7896        23
7901        40
7912        40
7917        31
7938        37
7944        41
7946        36
11143       42
11153       34
11319       38
11322       51
11333       46

In [138]:
first_values1 = first_values.groupby('match_id')
first_values2 = first_values1.first()
w_ball = first_values2.drop(['ball'], axis = 1)
print(w_ball)

          over  batsman_runs
match_id
8           13            30
37           9            30
237         15            30
242         15            30
248         14            31
296         12            30
312         15            30
329         20            32
333         13            31
338         17            30
356         18            31
396         15            33
401         12            31
411         19            31
426         20            30
438         19            31
448         20            31
462         12            30
481         14            30
488         14            35
492         18            32
495         15            33
525         16            35
534         13            31
540         11            30
546          7            31
557         16            30
562          9            31
574         15            30
580          8            30
587          6            33
592         10            31
603         14            33
615         16            32
620          8            30
624         15            34
633         11            30
7896        12            33
7901        15            30
7912        10            33
7917        11            32
7938        11            32
7944         7            33
7946         8            30
11143       15            33
11153       14            34
11319       13            33
11322       12            30
11333       15            35

In [139]:
result1 = concat([balls4, w_ball], axis=1, join = 'outer')
print(result1)

          ball  over  batsman_runs
match_id
8           49    13            30
37          28     9            30
237         41    15            30
242         37    15            30
248         45    14            31
296         27    12            30
312         42    15            30
329         14    20            32
333         41    13            31
338         24    17            30
356         17    18            31
396         33    15            33
401         36    12            31
411          9    19            31
426         23    20            30
438         17    19            31
448         20    20            31
462         48    12            30
481         43    14            30
488         28    14            35
492         32    18            32
495         17    15            33
525         29    16            35
534         12    13            31
540         34    11            30
546         47     7            31
557         24    16            30
562         61     9            31
574         40    15            30
580         44     8            30
587         33     6            33
592         46    10            31
603         33    14            33
615         35    16            32
620         53     8            30
624         32    15            34
633         48    11            30
7896        23    12            33
7901        40    15            30
7912        40    10            33
7917        31    11            32
7938        37    11            32
7944        41     7            33
7946        36     8            30
11143       42    15            33
11153       34    14            34
11319       38    13            33
11322       51    12            30
11333       46    15            35

In [141]:
matches = KKRvsRCB.groupby('match_id').size().count()
print(matches)

116

In [143]:
matches_30_or_more_score = result1.groupby('match_id').size().count()
print(matches_30_or_more_score)

49

In [145]:
not_score_30_runs = matches - matches_30_or_more_score
print(not_score_30_runs)

67

In [146]:
r1 = list(range(0,19))
a = result1.loc[result1['ball'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

6

In [147]:
r2 = list(range(18,25))
b = result1.loc[result1['ball'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

5

In [148]:
max_value = result1['ball'].max()
r3 = list(range(25,max_value+1))
c = result1.loc[result1['ball'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

38