In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [3]:
team = ('Mumbai Indians', 'Kings XI Punjab')
MIvsKXIP = df.loc[df['batting_team'].isin(team) & df['bowling_team'].isin(team)]
print(MIvsKXIP)

        match_id  inning     batting_team     bowling_team  over  ball  \
5055          22       1  Kings XI Punjab   Mumbai Indians     1     1
5056          22       1  Kings XI Punjab   Mumbai Indians     1     2
5057          22       1  Kings XI Punjab   Mumbai Indians     1     3
5058          22       1  Kings XI Punjab   Mumbai Indians     1     4
5059          22       1  Kings XI Punjab   Mumbai Indians     1     5
...          ...     ...              ...              ...   ...   ...
170579     11315       2   Mumbai Indians  Kings XI Punjab    20     3
170580     11315       2   Mumbai Indians  Kings XI Punjab    20     4
170581     11315       2   Mumbai Indians  Kings XI Punjab    20     5
170582     11315       2   Mumbai Indians  Kings XI Punjab    20     6
170583     11315       2   Mumbai Indians  Kings XI Punjab    20     7

           batsman non_striker      bowler  is_super_over  ...  bye_runs  \
5055       HM Amla    SE Marsh   HH Pandya              0  ...         0
5056      SE Marsh     HM Amla   HH Pandya              0  ...         0
5057      SE Marsh     HM Amla   HH Pandya              0  ...         0
5058      SE Marsh     HM Amla   HH Pandya              0  ...         0
5059      SE Marsh     HM Amla   HH Pandya              0  ...         0
...            ...         ...         ...            ...  ...       ...
170579  KA Pollard    A Joseph  AS Rajpoot              0  ...         0
170580    A Joseph   RD Chahar  AS Rajpoot              0  ...         0
170581    A Joseph   RD Chahar  AS Rajpoot              0  ...         0
170582   RD Chahar    A Joseph  AS Rajpoot              0  ...         0
170583    A Joseph   RD Chahar  AS Rajpoot              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
5055              0            0             0             1           0
5056              0            0             0             0           0
5057              0            0             0             4           0
5058              0            0             0             0           0
5059              0            0             0             1           0
...             ...          ...           ...           ...         ...
170579            0            0             0             0           0
170580            0            0             0             0           0
170581            0            0             0             1           0
170582            0            0             0             1           0
170583            0            0             0             2           0

        total_runs  player_dismissed dismissal_kind    fielder
5055             1               NaN            NaN        NaN
5056             0               NaN            NaN        NaN
5057             4               NaN            NaN        NaN
5058             0               NaN            NaN        NaN
5059             1               NaN            NaN        NaN
...            ...               ...            ...        ...
170579           0        KA Pollard         caught  DA Miller
170580           0               NaN            NaN        NaN
170581           1               NaN            NaN        NaN
170582           1               NaN            NaN        NaN
170583           2               NaN            NaN        NaN

[5834 rows x 21 columns]

In [5]:
MIvsKXIPwickets = MIvsKXIP[['match_id', 'player_dismissed']].dropna()
print(MIvsKXIPwickets)

        match_id player_dismissed
5089          22         SE Marsh
5121          22          WP Saha
5157          22       GJ Maxwell
5162          22       MP Stoinis
5218          22         PA Patel
...          ...              ...
170509     11315        Q de Kock
170530     11315     Ishan Kishan
170551     11315        HH Pandya
170556     11315        KH Pandya
170579     11315       KA Pollard

[294 rows x 2 columns]

In [6]:
N_wickets = MIvsKXIPwickets.groupby('match_id').count()
print(N_wickets)

          player_dismissed
match_id
22                       6
50                       9
69                      19
106                     14
135                     15
157                     11
201                     16
215                     13
273                     13
287                     18
336                     10
340                      9
421                     13
450                     17
479                     10
505                     11
524                     12
552                     10
597                     13
619                     12
7927                    10
7943                    13
11145                    9
11315                   11

In [7]:
N_MIvsKXIP = MIvsKXIP.groupby('match_id').size().count()
print(N_MIvsKXIP)

24

In [8]:
r1 = list(range(6,11))
a = N_wickets.loc[N_wickets['player_dismissed'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

8

In [10]:
r2 = list(range(11,16))
b = N_wickets.loc[N_wickets['player_dismissed'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

12

In [11]:
r3 = list(range(16,21))
c = N_wickets.loc[N_wickets['player_dismissed'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

4

In [13]:
times_0_to_5_wickets = N_MIvsKXIP-A-B-C
print(times_0_to_5_wickets)

0