In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\LENOVO\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [4]:
DC = df.loc[(df['batting_team'] == 'Delhi Capitals') | (df['batting_team'] == 'Delhi Daredevils')]
print(DC)

        match_id  inning      batting_team                 bowling_team  over  \
1084           5       2  Delhi Daredevils  Royal Challengers Bangalore     1
1085           5       2  Delhi Daredevils  Royal Challengers Bangalore     1
1086           5       2  Delhi Daredevils  Royal Challengers Bangalore     1
1087           5       2  Delhi Daredevils  Royal Challengers Bangalore     1
1088           5       2  Delhi Daredevils  Royal Challengers Bangalore     1
...          ...     ...               ...                          ...   ...
178709     11414       1    Delhi Capitals          Chennai Super Kings    20
178710     11414       1    Delhi Capitals          Chennai Super Kings    20
178711     11414       1    Delhi Capitals          Chennai Super Kings    20
178712     11414       1    Delhi Capitals          Chennai Super Kings    20
178713     11414       1    Delhi Capitals          Chennai Super Kings    20

        ball      batsman  non_striker      bowler  is_super_over  ...  \
1084       1      AP Tare  SW Billings  B Stanlake              0  ...
1085       2      AP Tare  SW Billings  B Stanlake              0  ...
1086       3      AP Tare  SW Billings  B Stanlake              0  ...
1087       4      AP Tare  SW Billings  B Stanlake              0  ...
1088       5  SW Billings      AP Tare  B Stanlake              0  ...
...      ...          ...          ...         ...            ...  ...
178709     2     TA Boult     A Mishra   RA Jadeja              0  ...
178710     3     TA Boult     A Mishra   RA Jadeja              0  ...
178711     4     I Sharma     A Mishra   RA Jadeja              0  ...
178712     5     I Sharma     A Mishra   RA Jadeja              0  ...
178713     6     I Sharma     A Mishra   RA Jadeja              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
1084           0            0            0             0             0
1085           0            0            0             0             0
1086           0            0            0             0             0
1087           0            0            0             0             1
1088           0            0            0             0             0
...          ...          ...          ...           ...           ...
178709         0            0            0             0             6
178710         0            0            0             0             0
178711         0            0            0             0             0
178712         0            0            0             0             4
178713         0            0            0             0             6

        extra_runs  total_runs  player_dismissed dismissal_kind fielder
1084             0           0               NaN            NaN     NaN
1085             1           1               NaN            NaN     NaN
1086             0           0               NaN            NaN     NaN
1087             0           1               NaN            NaN     NaN
1088             0           0               NaN            NaN     NaN
...            ...         ...               ...            ...     ...
178709           0           6               NaN            NaN     NaN
178710           0           0          TA Boult         bowled     NaN
178711           0           0               NaN            NaN     NaN
178712           0           4               NaN            NaN     NaN
178713           0           6               NaN            NaN     NaN

[20695 rows x 21 columns]

In [14]:
RunsDC = DC.groupby(['match_id']).agg({'total_runs':['sum']})
RunsDC.columns = ['RunsDC']
print(RunsDC)

          RunsDC
match_id
5            142
9            205
15           188
18           168
21           176
...          ...
11337        193
11341         99
11344        126
11413        170
11414        155

[177 rows x 1 columns]

In [15]:
SSIyer = DC.loc[(DC['batsman'] == 'SS Iyer')]
print(SSIyer)

        match_id  inning      batting_team         bowling_team  over  ball  \
3364          15       1  Delhi Daredevils      Kings XI Punjab     8     4
3365          15       1  Delhi Daredevils      Kings XI Punjab     8     5
3366          15       1  Delhi Daredevils      Kings XI Punjab     8     6
3371          15       1  Delhi Daredevils      Kings XI Punjab     9     2
3372          15       1  Delhi Daredevils      Kings XI Punjab     9     3
...          ...     ...               ...                  ...   ...   ...
178653     11414       1    Delhi Capitals  Chennai Super Kings    11     2
178654     11414       1    Delhi Capitals  Chennai Super Kings    11     3
178655     11414       1    Delhi Capitals  Chennai Super Kings    11     4
178657     11414       1    Delhi Capitals  Chennai Super Kings    11     6
178660     11414       1    Delhi Capitals  Chennai Super Kings    12     3

        batsman  non_striker       bowler  is_super_over  ...  bye_runs  \
3364    SS Iyer  SW Billings     VR Aaron              0  ...         0
3365    SS Iyer  SW Billings     VR Aaron              0  ...         0
3366    SS Iyer  SW Billings     VR Aaron              0  ...         0
3371    SS Iyer  SW Billings  KC Cariappa              0  ...         0
3372    SS Iyer  SW Billings  KC Cariappa              0  ...         0
...         ...          ...          ...            ...  ...       ...
178653  SS Iyer      RR Pant     DJ Bravo              0  ...         0
178654  SS Iyer      RR Pant     DJ Bravo              0  ...         0
178655  SS Iyer      RR Pant     DJ Bravo              0  ...         0
178657  SS Iyer      RR Pant     DJ Bravo              0  ...         0
178660  SS Iyer      RR Pant  Imran Tahir              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
3364              0            0             0             0           1
3365              0            0             0             0           0
3366              0            1             0             1           1
3371              0            0             0             0           0
3372              0            0             0             0           0
...             ...          ...           ...           ...         ...
178653            0            0             0             0           0
178654            0            0             0             4           0
178655            0            0             0             1           0
178657            0            0             0             0           0
178660            0            0             0             0           0

        total_runs  player_dismissed dismissal_kind   fielder
3364             1               NaN            NaN       NaN
3365             0               NaN            NaN       NaN
3366             2               NaN            NaN       NaN
3371             0               NaN            NaN       NaN
3372             0               NaN            NaN       NaN
...            ...               ...            ...       ...
178653           0               NaN            NaN       NaN
178654           4               NaN            NaN       NaN
178655           1               NaN            NaN       NaN
178657           0               NaN            NaN       NaN
178660           0           SS Iyer         caught  SK Raina

[1370 rows x 21 columns]

In [16]:
RunsSSIyer = SSIyer.groupby(['match_id']).agg({'total_runs':['sum']})
RunsSSIyer.columns = ['RunsSSIyer']
print(RunsSSIyer)

          RunsSSIyer
match_id
15                25
18                26
21                53
24                 6
31                48
...              ...
11337             52
11341             44
11344             15
11413              8
11414             15

[61 rows x 1 columns]

In [17]:
result = concat([RunsDC, RunsSSIyer], axis=1, join='inner')
print(result)

          RunsDC  RunsSSIyer
match_id
15           188          25
18           168          26
21           176          53
24           128           6
31           160          48
...          ...         ...
11337        193          52
11341         99          44
11344        126          15
11413        170           8
11414        155          15

[61 rows x 2 columns]

In [18]:
result['percentage'] = result['RunsSSIyer']*100/result['RunsDC']
print(result)

          RunsDC  RunsSSIyer  percentage
match_id
15           188          25   13.297872
18           168          26   15.476190
21           176          53   30.113636
24           128           6    4.687500
31           160          48   30.000000
...          ...         ...         ...
11337        193          52   26.943005
11341         99          44   44.444444
11344        126          15   11.904762
11413        170           8    4.705882
11414        155          15    9.677419

[61 rows x 3 columns]

In [22]:
final = result['percentage'].mean()
print(final)

17.781842570775584