In [2]:
from pandas import *

In [3]:
df = read_csv(r'C:\Users\LENOVO\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [18]:
out = ['bowled', 'lbw', ' caught']
KXIP = df.loc[(df['bowling_team'] == 'Kings XI Punjab') & df['over'].isin(list(range(7,21))) & (df['dismissal_kind'].isin(out))]
print(KXIP)

        match_id  inning                 batting_team     bowling_team  over  \
2547          11       2        Kolkata Knight Riders  Kings XI Punjab    10
6209          26       2                Gujarat Lions  Kings XI Punjab    14
6230          26       2                Gujarat Lions  Kings XI Punjab    17
7413          32       1          Sunrisers Hyderabad  Kings XI Punjab    10
8142          35       1             Delhi Daredevils  Kings XI Punjab     7
...          ...     ...                          ...              ...   ...
174741     11333       1  Royal Challengers Bangalore  Kings XI Punjab     8
176275     11339       1          Sunrisers Hyderabad  Kings XI Punjab    19
176278     11339       1          Sunrisers Hyderabad  Kings XI Punjab    20
177751     11346       1          Chennai Super Kings  Kings XI Punjab    19
177757     11346       1          Chennai Super Kings  Kings XI Punjab    20

        ball        batsman     non_striker          bowler  is_super_over  \
2547       6     RV Uthappa       G Gambhir        AR Patel              0
6209       1        AD Nath      KD Karthik     KC Cariappa              0
6230       4         AJ Tye      KD Karthik  Sandeep Sharma              0
7413       6      DA Warner        S Dhawan      GJ Maxwell              0
8142       1        KK Nair         RR Pant        AR Patel              0
...      ...            ...             ...             ...            ...
174741     3          M Ali  AB de Villiers        R Ashwin              0
176275     5  Mohammad Nabi     Rashid Khan  Mohammed Shami              0
176278     1    Rashid Khan       V Shankar         A Singh              0
177751     4   F du Plessis        MS Dhoni        S Curran              0
177757     4      KM Jadhav        MS Dhoni  Mohammed Shami              0

        ...  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
2547    ...         0            0            0             0             0
6209    ...         0            0            0             0             0
6230    ...         0            0            0             0             0
7413    ...         0            0            0             0             0
8142    ...         0            0            0             0             0
...     ...       ...          ...          ...           ...           ...
174741  ...         0            0            0             0             0
176275  ...         0            0            0             0             0
176278  ...         0            0            0             0             0
177751  ...         0            0            0             0             0
177757  ...         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind fielder
2547             0           0        RV Uthappa         bowled     NaN
6209             0           0           AD Nath            lbw     NaN
6230             0           0            AJ Tye         bowled     NaN
7413             0           0         DA Warner         bowled     NaN
8142             0           0           KK Nair         bowled     NaN
...            ...         ...               ...            ...     ...
174741           0           0             M Ali         bowled     NaN
176275           0           0     Mohammad Nabi         bowled     NaN
176278           0           0       Rashid Khan         bowled     NaN
177751           0           0      F du Plessis         bowled     NaN
177757           0           0         KM Jadhav         bowled     NaN

[193 rows x 21 columns]

In [19]:
wickets = KXIP[['match_id', 'player_dismissed']]
print(wickets)

        match_id player_dismissed
2547          11       RV Uthappa
6209          26          AD Nath
6230          26           AJ Tye
7413          32        DA Warner
8142          35          KK Nair
...          ...              ...
174741     11333            M Ali
176275     11339    Mohammad Nabi
176278     11339      Rashid Khan
177751     11346     F du Plessis
177757     11346        KM Jadhav

[193 rows x 2 columns]

In [20]:
N_wickets = wickets.groupby('match_id').count()
print(N_wickets)

          player_dismissed
match_id
11                       1
26                       2
32                       1
35                       3
42                       3
...                    ...
11323                    1
11328                    1
11333                    1
11339                    2
11346                    2

[105 rows x 1 columns]

In [21]:
ShamiWickets = KXIP.loc[(KXIP['bowler'] == 'Mohammed Shami')]
print(ShamiWickets)

        match_id  inning         batting_team     bowling_team  over  ball  \
166772     11145       1       Mumbai Indians  Kings XI Punjab    13     7
167916     11149       2       Delhi Capitals  Kings XI Punjab    17     4
167928     11149       2       Delhi Capitals  Kings XI Punjab    19     3
173738     11328       2       Delhi Capitals  Kings XI Punjab    19     3
176275     11339       1  Sunrisers Hyderabad  Kings XI Punjab    19     5
177757     11346       1  Chennai Super Kings  Kings XI Punjab    20     4

              batsman   non_striker          bowler  is_super_over  ...  \
166772      Q de Kock  Yuvraj Singh  Mohammed Shami              0  ...
167916        RR Pant      C Ingram  Mohammed Shami              0  ...
167928       H Vihari      K Rabada  Mohammed Shami              0  ...
173738       C Ingram       SS Iyer  Mohammed Shami              0  ...
176275  Mohammad Nabi   Rashid Khan  Mohammed Shami              0  ...
177757      KM Jadhav      MS Dhoni  Mohammed Shami              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
166772         0            0            0             0             0
167916         0            0            0             0             0
167928         0            0            0             0             0
173738         0            0            0             0             0
176275         0            0            0             0             0
177757         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind fielder
166772           0           0         Q de Kock            lbw     NaN
167916           0           0           RR Pant         bowled     NaN
167928           0           0          H Vihari         bowled     NaN
173738           0           0          C Ingram         bowled     NaN
176275           0           0     Mohammad Nabi         bowled     NaN
177757           0           0         KM Jadhav         bowled     NaN

[6 rows x 21 columns]

In [22]:
N_ShamiWickets = ShamiWickets[['match_id', 'player_dismissed']]
print(N_ShamiWickets)

        match_id player_dismissed
166772     11145        Q de Kock
167916     11149          RR Pant
167928     11149         H Vihari
173738     11328         C Ingram
176275     11339    Mohammad Nabi
177757     11346        KM Jadhav

In [26]:
NSW = N_ShamiWickets.groupby('match_id').count()
NSW.columns = ['player_dismissed_by_Shami']
print(NSW)

          player_dismissed_by_Shami
match_id
11145                             1
11149                             2
11328                             1
11339                             1
11346                             1

In [33]:
result = concat([N_wickets, NSW], axis=1, join='outer')
print(result)

          player_dismissed  player_dismissed_by_Shami
match_id
11                       1                        NaN
26                       2                        NaN
32                       1                        NaN
35                       3                        NaN
42                       3                        NaN
...                    ...                        ...
11323                    1                        NaN
11328                    1                        1.0
11333                    1                        NaN
11339                    2                        1.0
11346                    2                        1.0

[105 rows x 2 columns]

In [34]:
result['player_dismissed_by_Shami'] = result['player_dismissed_by_Shami'].fillna(0)
print(result)

          player_dismissed  player_dismissed_by_Shami
match_id
11                       1                        0.0
26                       2                        0.0
32                       1                        0.0
35                       3                        0.0
42                       3                        0.0
...                    ...                        ...
11323                    1                        0.0
11328                    1                        1.0
11333                    1                        0.0
11339                    2                        1.0
11346                    2                        1.0

[105 rows x 2 columns]

In [46]:
result['player_dismissed_without_Shami'] = result['player_dismissed'] - result['player_dismissed_by_Shami']
result['player_dismissed_without_Shami'] = result['player_dismissed_without_Shami'].astype(int) 
print(result)

          player_dismissed  player_dismissed_by_Shami  \
match_id
11                       1                        0.0
26                       2                        0.0
32                       1                        0.0
35                       3                        0.0
42                       3                        0.0
...                    ...                        ...
11323                    1                        0.0
11328                    1                        1.0
11333                    1                        0.0
11339                    2                        1.0
11346                    2                        1.0

          player_dismissed_without_Shami
match_id
11                                     1
26                                     2
32                                     1
35                                     3
42                                     3
...                                  ...
11323                                  1
11328                                  0
11333                                  1
11339                                  1
11346                                  1

[105 rows x 3 columns]

In [49]:
a = result.loc[result['player_dismissed_without_Shami'].isin([0,1])]
A = a.groupby('match_id').size().count()
print(A)

54

In [56]:
b = result.loc[result['player_dismissed_without_Shami'].isin([2,3])]
B = b.groupby('match_id').size().count()
print(B)

47

In [57]:
c = result.loc[result['player_dismissed_without_Shami'] == 4]
C = c.groupby('match_id').size().count()
print(C)

4

In [58]:
max_value = result['player_dismissed_without_Shami'].max()
print(max_value)

4