In [5]:
from pandas import *

In [9]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\Bangalore vs Kolkata deliveries.csv')
print(df)

      match_id  inning           batting_team                 bowling_team  \
0           27       1  Kolkata Knight Riders  Royal Challengers Bangalore
1           27       1  Kolkata Knight Riders  Royal Challengers Bangalore
2           27       1  Kolkata Knight Riders  Royal Challengers Bangalore
3           27       1  Kolkata Knight Riders  Royal Challengers Bangalore
4           27       1  Kolkata Knight Riders  Royal Challengers Bangalore
...        ...     ...                    ...                          ...
5497     11326       2  Kolkata Knight Riders  Royal Challengers Bangalore
5498     11326       2  Kolkata Knight Riders  Royal Challengers Bangalore
5499     11326       2  Kolkata Knight Riders  Royal Challengers Bangalore
5500     11326       2  Kolkata Knight Riders  Royal Challengers Bangalore
5501     11326       2  Kolkata Knight Riders  Royal Challengers Bangalore

      over  ball     batsman non_striker    bowler  is_super_over  ...  \
0        1     1   SP Narine   G Gambhir  S Badree              0  ...
1        1     2   SP Narine   G Gambhir  S Badree              0  ...
2        1     3   SP Narine   G Gambhir  S Badree              0  ...
3        1     4   SP Narine   G Gambhir  S Badree              0  ...
4        1     5   SP Narine   G Gambhir  S Badree              0  ...
...    ...   ...         ...         ...       ...            ...  ...
5497    20     2      N Rana  AD Russell     M Ali              0  ...
5498    20     3  AD Russell      N Rana     M Ali              0  ...
5499    20     4  AD Russell      N Rana     M Ali              0  ...
5500    20     5  AD Russell      N Rana     M Ali              0  ...
5501    20     6      N Rana  KD Karthik     M Ali              0  ...

      bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0            0            0            0             0             0
1            0            0            0             0             4
2            0            0            0             0             4
3            0            0            0             0             4
4            0            0            0             0             6
...        ...          ...          ...           ...           ...
5497         0            0            0             0             1
5498         0            0            0             0             6
5499         0            0            0             0             0
5500         0            0            0             0             0
5501         0            0            0             0             6

      extra_runs  total_runs  player_dismissed dismissal_kind  fielder
0              0           0               NaN            NaN      NaN
1              0           4               NaN            NaN      NaN
2              0           4               NaN            NaN      NaN
3              0           4               NaN            NaN      NaN
4              0           6               NaN            NaN      NaN
...          ...         ...               ...            ...      ...
5497           0           1               NaN            NaN      NaN
5498           0           6               NaN            NaN      NaN
5499           0           0               NaN            NaN      NaN
5500           0           0        AD Russell        run out  V Kohli
5501           0           6               NaN            NaN      NaN

[5502 rows x 21 columns]

In [12]:
matches = df.groupby(['match_id']).size().count()
print(matches)

24

In [13]:
column_name = 'noball_runs'
column_sum = df[column_name].sum()
print(column_sum)

23

In [14]:
NoBallsPerMatch = column_sum/matches
print(NoBallsPerMatch)

0.9583333333333334