In [1]:
from pandas import *

In [2]:
df = read_csv(r'C:\Users\LENOVO\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [3]:
JD = df.loc[(df['bowler'] == 'J Archer') & df['over'].isin(list(range(16,21)))]
print(JD)

        match_id  inning           batting_team      bowling_team  over  ball  \
155253      7914       1         Mumbai Indians  Rajasthan Royals    17     1
155254      7914       1         Mumbai Indians  Rajasthan Royals    17     2
155255      7914       1         Mumbai Indians  Rajasthan Royals    17     3
155256      7914       1         Mumbai Indians  Rajasthan Royals    17     4
155257      7914       1         Mumbai Indians  Rajasthan Royals    17     5
...          ...     ...                    ...               ...   ...   ...
175056     11334       1  Kolkata Knight Riders  Rajasthan Royals    19     2
175057     11334       1  Kolkata Knight Riders  Rajasthan Royals    19     3
175058     11334       1  Kolkata Knight Riders  Rajasthan Royals    19     4
175059     11334       1  Kolkata Knight Riders  Rajasthan Royals    19     5
175060     11334       1  Kolkata Knight Riders  Rajasthan Royals    19     6

           batsman non_striker    bowler  is_super_over  ...  bye_runs  \
155253  KA Pollard   KH Pandya  J Archer              0  ...         0
155254  KA Pollard   KH Pandya  J Archer              0  ...         0
155255  KA Pollard   KH Pandya  J Archer              0  ...         0
155256  KA Pollard   KH Pandya  J Archer              0  ...         0
155257   KH Pandya  KA Pollard  J Archer              0  ...         0
...            ...         ...       ...            ...  ...       ...
175056     R Singh  KD Karthik  J Archer              0  ...         0
175057  KD Karthik     R Singh  J Archer              0  ...         0
175058     R Singh  KD Karthik  J Archer              0  ...         0
175059  KD Karthik     R Singh  J Archer              0  ...         0
175060  KD Karthik     R Singh  J Archer              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
155253            0            0             0             0           0
155254            0            0             0             0           0
155255            0            0             0             0           0
155256            0            0             0             0           0
155257            0            0             0             1           0
...             ...          ...           ...           ...         ...
175056            0            0             0             1           0
175057            0            0             0             1           0
175058            0            0             0             1           0
175059            0            0             0             6           0
175060            0            0             0             6           0

        total_runs  player_dismissed dismissal_kind fielder
155253           0               NaN            NaN     NaN
155254           0               NaN            NaN     NaN
155255           0               NaN            NaN     NaN
155256           0               NaN            NaN     NaN
155257           1               NaN            NaN     NaN
...            ...               ...            ...     ...
175056           1               NaN            NaN     NaN
175057           1               NaN            NaN     NaN
175058           1               NaN            NaN     NaN
175059           6               NaN            NaN     NaN
175060           6               NaN            NaN     NaN

[223 rows x 21 columns]

In [4]:
JDwickets = JD[['match_id', 'player_dismissed']].dropna()
print(JDwickets)

        match_id player_dismissed
155265      7914        KH Pandya
155268      7914        HH Pandya
155269      7914   MJ McClenaghan
156968      7921  Shakib Al Hasan
156973      7921        YK Pathan
156984      7921      Rashid Khan
157963      7925       GJ Maxwell
167552     11148         DJ Bravo
168040     11150         PA Patel
171166     11318       KA Pollard
171180     11318        Q de Kock
172395     11323         N Pooran
172398     11323    Mandeep Singh
173377     11327        HH Pandya

In [5]:
N_JDwickets = JDwickets.groupby('match_id').size()
print(N_JDwickets)

match_id
7914     3
7921     3
7925     1
11148    1
11150    1
11318    2
11323    2
11327    1
dtype: int64

In [8]:
matches = JD.groupby('match_id').size().count()
print(matches)

20