In [25]:
from pandas import *

In [26]:
df = read_csv(r'C:\Users\LENOVO\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [27]:
RRvsDL = df.loc[(df['batting_team'] == 'Rajasthan Royals') & (df['bowler'] == 'DL Chahar')]
print(RRvsDL)

        match_id  inning      batting_team         bowling_team  over  ball  \
154358      7910       2  Rajasthan Royals  Chennai Super Kings     1     1
154359      7910       2  Rajasthan Royals  Chennai Super Kings     1     2
154360      7910       2  Rajasthan Royals  Chennai Super Kings     1     3
154361      7910       2  Rajasthan Royals  Chennai Super Kings     1     4
154362      7910       2  Rajasthan Royals  Chennai Super Kings     1     5
...          ...     ...               ...                  ...   ...   ...
170695     11316       1  Rajasthan Royals  Chennai Super Kings    19     2
170696     11316       1  Rajasthan Royals  Chennai Super Kings    19     3
170697     11316       1  Rajasthan Royals  Chennai Super Kings    19     4
170698     11316       1  Rajasthan Royals  Chennai Super Kings    19     5
170699     11316       1  Rajasthan Royals  Chennai Super Kings    19     6

          batsman non_striker     bowler  is_super_over  ...  bye_runs  \
154358  AM Rahane   H Klaasen  DL Chahar              0  ...         0
154359  AM Rahane   H Klaasen  DL Chahar              0  ...         0
154360  H Klaasen   AM Rahane  DL Chahar              0  ...         0
154361  H Klaasen   AM Rahane  DL Chahar              0  ...         0
154362  AM Rahane   H Klaasen  DL Chahar              0  ...         0
...           ...         ...        ...            ...  ...       ...
170695  BA Stokes    J Archer  DL Chahar              0  ...         0
170696    S Gopal    J Archer  DL Chahar              0  ...         0
170697   J Archer     S Gopal  DL Chahar              0  ...         0
170698    S Gopal    J Archer  DL Chahar              0  ...         0
170699    S Gopal    J Archer  DL Chahar              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
154358            0            0             0             1           1
154359            0            0             0             1           0
154360            0            0             0             0           0
154361            0            0             0             1           0
154362            0            0             0             0           0
...             ...          ...           ...           ...         ...
170695            0            0             0             0           0
170696            0            0             0             1           0
170697            0            0             0             1           0
170698            0            0             0             4           0
170699            0            0             0             1           0

        total_runs  player_dismissed dismissal_kind fielder
154358           2               NaN            NaN     NaN
154359           1               NaN            NaN     NaN
154360           0               NaN            NaN     NaN
154361           1               NaN            NaN     NaN
154362           0               NaN            NaN     NaN
...            ...               ...            ...     ...
170695           0         BA Stokes         bowled     NaN
170696           1               NaN            NaN     NaN
170697           1               NaN            NaN     NaN
170698           4               NaN            NaN     NaN
170699           1               NaN            NaN     NaN

[77 rows x 21 columns]

In [28]:
RunsDL = RRvsDL.groupby(['match_id', 'over']).agg({'total_runs':['sum']})
RunsDL.columns = ['runs']
print(RunsDL)

               runs
match_id over
7910     1       16
         3        5
         5        3
         7       10
11148    1        0
         3        6
         5        5
         7        9
11316    1       12
         3       10
         5        5
         19       8

In [29]:
runs = RunsDL.groupby('match_id').agg({'runs':['sum']})
runs.columns = ['runs']
print(runs)

          runs
match_id
7910        34
11148       20
11316       35

In [30]:
economy = runs/4
print(economy)

          runs
match_id
7910      8.50
11148     5.00
11316     8.75

In [32]:
economy.mean()

runs    7.416667
dtype: float64