In [4]:
from pandas import *

In [5]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [8]:
fours = df.loc[(df['batsman_runs'] == 4) & (df['batting_team'] == 'Kolkata Knight Riders') & (df['bowling_team'] == 'Mumbai Indians')]
fours1 = fours[['match_id', 'batsman_runs']]
print(fours1)

        match_id  batsman_runs
1430           7             4
1433           7             4
1437           7             4
1444           7             4
1445           7             4
...          ...           ...
176024     11338             4
176030     11338             4
176031     11338             4
177894     11347             4
177959     11347             4

[329 rows x 2 columns]

In [9]:
N_fours = fours1.groupby('match_id').count()
print(N_fours)

          batsman_runs
match_id
7                   14
53                  14
58                   8
75                  15
99                   7
132                  8
138                 10
191                 15
230                 13
303                 16
305                 15
363                 14
370                 12
413                 16
434                  8
458                 14
497                 14
518                 11
567                 19
581                 11
600                 17
7930                23
7934                12
11338               21
11347                2

In [10]:
r1 = list(range(0,5))
a = N_fours.loc[N_fours['batsman_runs'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

1

In [11]:
r2 = list(range(5,9))
b = N_fours.loc[N_fours['batsman_runs'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

4

In [12]:
r3 = list(range(9,13))
c = N_fours.loc[N_fours['batsman_runs'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

5

In [13]:
max_value = N_fours['batsman_runs'].max()
r4 = list(range(13,max_value+1))
d = N_fours.loc[N_fours['batsman_runs'].isin(r4)]
D = d.groupby('match_id').size().count()
print(D)

15