In [37]:
from pandas import *

In [38]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [39]:
overs = list(range(7,16))
MI = df.loc[(df['batting_team'] == 'Mumbai Indians') & df['over'].isin(overs)]
MI_Wickets = MI[['match_id', 'player_dismissed']].dropna()
print(MI_Wickets)

        match_id player_dismissed
287            2        RG Sharma
289            2       JC Buttler
316            2        AT Rayudu
330            2        KH Pandya
1602           7         PA Patel
...          ...              ...
178310     11412     Ishan Kishan
178311     11412        KH Pandya
178901     11415         AS Yadav
178908     11415        KH Pandya
178921     11415     Ishan Kishan

[421 rows x 2 columns]

In [40]:
N_Wickets = MI_Wickets.groupby('match_id').count()
print(N_Wickets)

          player_dismissed
match_id
2                        4
7                        4
10                       2
12                       1
16                       2
...                    ...
11338                    3
11342                    2
11347                    1
11412                    2
11415                    3

[174 rows x 1 columns]

In [62]:
MI_matches = df.loc[(df['batting_team'] == 'Mumbai Indians')]
N_MI = MI_matches.groupby('match_id').size().count()
print(N_MI)

187

In [42]:
r1 = list(range(0,3))
a = N_Wickets.loc[N_Wickets['player_dismissed'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

105

In [43]:
r2 = list(range(3,5))
b = N_Wickets.loc[N_Wickets['player_dismissed'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

58

In [44]:
r3 = list(range(5,7))
c = N_Wickets.loc[N_Wickets['player_dismissed'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

9

In [45]:
max_value = N_Wickets['player_dismissed'].max()
r4 = list(range(7,max_value+1))
d = N_Wickets.loc[N_Wickets['player_dismissed'].isin(r4)]
D = d.groupby('match_id').size().count()
print(D)

2

In [63]:
overs1 = list(range(7,16))
MIvsKKRMidOvers = df.loc[(df['batting_team'] == 'Mumbai Indians') & (df['bowling_team'] == 'Kolkata Knight Riders') & df['over'].isin(overs1)]
MIvsKKR_Wickets = MIvsKKRMidOvers[['match_id', 'player_dismissed']].dropna()
print(MIvsKKR_Wickets)

        match_id player_dismissed
1602           7         PA Patel
1608           7       JC Buttler
1616           7        RG Sharma
1630           7        KH Pandya
12381         53        RG Sharma
13597         58        RG Sharma
30608        132     SR Tendulkar
30617        132  Harbhajan Singh
30622        132    ST Jayasuriya
32028        138     SR Tendulkar
32051        138         AM Nayar
44997        191         S Dhawan
45041        191        SS Tiwary
54356        230        JP Duminy
54358        230        SS Tiwary
71407        303  Harbhajan Singh
71421        303        RG Sharma
71434        303     SR Tendulkar
71902        305      AC Blizzard
71905        305        RG Sharma
71920        305     SR Tendulkar
71932        305        AT Rayudu
87520        370     SR Tendulkar
87532        370       KD Karthik
97887        413       KD Karthik
97906        413         DR Smith
102821       434     SR Tendulkar
102824       434         DR Smith
108582       458          AP Tare
117759       497        AT Rayudu
134229       567        AT Rayudu
134261       567        RG Sharma
137456       581        HH Pandya
137466       581   MJ McClenaghan
141918       600        AT Rayudu
141931       600        KH Pandya
141955       600       JC Buttler
159051      7930          E Lewis
159066      7930        RG Sharma
159082      7930         AS Yadav
160023      7934         AS Yadav
160059      7934     Ishan Kishan
176071     11338          E Lewis
176084     11338         AS Yadav
176114     11338       KA Pollard
178040     11347        Q de Kock

In [64]:
MIvsKKR_N_Wickets = MIvsKKR_Wickets.groupby('match_id').count()
print(MIvsKKR_N_Wickets)

          player_dismissed
match_id
7                        4
53                       1
58                       1
132                      3
138                      2
191                      2
230                      2
303                      3
305                      4
370                      2
413                      2
434                      2
458                      1
497                      1
567                      2
581                      2
600                      3
7930                     3
7934                     2
11338                    3
11347                    1

In [66]:
MIvsKKR = df.loc[(df['batting_team'] == 'Mumbai Indians') & (df['bowling_team'] == 'Kolkata Knight Riders')]
N_MIvsKKR = MIvsKKR.groupby('match_id').size().count()
print(N_MIvsKKR)

25

In [67]:
r11 = list(range(0,3))
a1 = MIvsKKR_N_Wickets.loc[MIvsKKR_N_Wickets['player_dismissed'].isin(r11)]
A1 = a1.groupby('match_id').size().count()
print(A1)

14

In [68]:
r21 = list(range(3,5))
b1 = MIvsKKR_N_Wickets.loc[MIvsKKR_N_Wickets['player_dismissed'].isin(r21)]
B1 = b1.groupby('match_id').size().count()
print(B1)

7

In [69]:
r31 = list(range(5,7))
c1 = MIvsKKR_N_Wickets.loc[MIvsKKR_N_Wickets['player_dismissed'].isin(r31)]
C1 = c1.groupby('match_id').size().count()
print(C1)

0