In [2]:
from pandas import *

In [3]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [4]:
team = ['Delhi Daredevils', 'Delhi Capitals', 'Rajasthan Royals']
DCvsRR = df.loc[df['batting_team'].isin(team) & df['bowling_team'].isin(team)]
print(DCvsRR)

        match_id  inning      batting_team      bowling_team  over  ball  \
14335         62       1  Rajasthan Royals  Delhi Daredevils     1     1
14336         62       1  Rajasthan Royals  Delhi Daredevils     1     2
14337         62       1  Rajasthan Royals  Delhi Daredevils     1     3
14338         62       1  Rajasthan Royals  Delhi Daredevils     1     4
14339         62       1  Rajasthan Royals  Delhi Daredevils     1     5
...          ...     ...               ...               ...   ...   ...
177388     11344       2    Delhi Capitals  Rajasthan Royals    16     3
177389     11344       2    Delhi Capitals  Rajasthan Royals    16     4
177390     11344       2    Delhi Capitals  Rajasthan Royals    16     5
177391     11344       2    Delhi Capitals  Rajasthan Royals    16     6
177392     11344       2    Delhi Capitals  Rajasthan Royals    17     1

         batsman non_striker      bowler  is_super_over  ...  bye_runs  \
14335    T Kohli   YK Pathan  GD McGrath              0  ...         0
14336    T Kohli   YK Pathan  GD McGrath              0  ...         0
14337    T Kohli   YK Pathan  GD McGrath              0  ...         0
14338    T Kohli   YK Pathan  GD McGrath              0  ...         0
14339    T Kohli   YK Pathan  GD McGrath              0  ...         0
...          ...         ...         ...            ...  ...       ...
177388   RR Pant    AR Patel     S Gopal              0  ...         0
177389  AR Patel     RR Pant     S Gopal              0  ...         0
177390   RR Pant    AR Patel     S Gopal              0  ...         0
177391   RR Pant    AR Patel     S Gopal              0  ...         0
177392   RR Pant    AR Patel     I Sodhi              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
14335             0            0             0             0           0
14336             0            0             0             0           0
14337             0            0             0             0           0
14338             0            0             0             0           1
14339             0            0             0             0           0
...             ...          ...           ...           ...         ...
177388            0            0             0             1           0
177389            0            0             0             1           0
177390            0            0             0             6           0
177391            0            0             0             1           0
177392            0            0             0             6           0

        total_runs  player_dismissed dismissal_kind fielder
14335            0               NaN            NaN     NaN
14336            0               NaN            NaN     NaN
14337            0               NaN            NaN     NaN
14338            1               NaN            NaN     NaN
14339            0               NaN            NaN     NaN
...            ...               ...            ...     ...
177388           1               NaN            NaN     NaN
177389           1               NaN            NaN     NaN
177390           6               NaN            NaN     NaN
177391           1               NaN            NaN     NaN
177392           6               NaN            NaN     NaN

[4617 rows x 21 columns]

In [5]:
overs = [1,2,3,4,5,6]
team1 = ['Delhi Daredevils', 'Delhi Capitals']
PP_Overs = DCvsRR.loc[DCvsRR['over'].isin(overs) & DCvsRR['batting_team'].isin(team1)]
print(PP_Overs)

        match_id  inning      batting_team      bowling_team  over  ball  \
14457         62       2  Delhi Daredevils  Rajasthan Royals     1     1
14458         62       2  Delhi Daredevils  Rajasthan Royals     1     2
14459         62       2  Delhi Daredevils  Rajasthan Royals     1     3
14460         62       2  Delhi Daredevils  Rajasthan Royals     1     4
14461         62       2  Delhi Daredevils  Rajasthan Royals     1     5
...          ...     ...               ...               ...   ...   ...
177326     11344       2    Delhi Capitals  Rajasthan Royals     6     2
177327     11344       2    Delhi Capitals  Rajasthan Royals     6     3
177328     11344       2    Delhi Capitals  Rajasthan Royals     6     4
177329     11344       2    Delhi Capitals  Rajasthan Royals     6     5
177330     11344       2    Delhi Capitals  Rajasthan Royals     6     6

          batsman non_striker    bowler  is_super_over  ...  bye_runs  \
14457   G Gambhir    V Sehwag  MM Patel              0  ...         0
14458   G Gambhir    V Sehwag  MM Patel              0  ...         0
14459   G Gambhir    V Sehwag  MM Patel              0  ...         0
14460   G Gambhir    V Sehwag  MM Patel              0  ...         0
14461   G Gambhir    V Sehwag  MM Patel              0  ...         0
...           ...         ...       ...            ...  ...       ...
177326    SS Iyer     RR Pant   I Sodhi              0  ...         0
177327    SS Iyer     RR Pant   I Sodhi              0  ...         0
177328    SS Iyer     RR Pant   I Sodhi              0  ...         0
177329    SS Iyer     RR Pant   I Sodhi              0  ...         0
177330    RR Pant     SS Iyer   I Sodhi              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
14457             0            0             0             0           0
14458             0            0             0             0           0
14459             0            0             0             0           0
14460             0            0             0             0           0
14461             0            0             0             4           0
...             ...          ...           ...           ...         ...
177326            0            0             0             6           0
177327            0            0             0             6           0
177328            0            0             0             0           0
177329            0            0             0             1           0
177330            0            0             0             4           0

        total_runs  player_dismissed dismissal_kind fielder
14457            0               NaN            NaN     NaN
14458            0               NaN            NaN     NaN
14459            0               NaN            NaN     NaN
14460            0               NaN            NaN     NaN
14461            4               NaN            NaN     NaN
...            ...               ...            ...     ...
177326           6               NaN            NaN     NaN
177327           6               NaN            NaN     NaN
177328           0               NaN            NaN     NaN
177329           1               NaN            NaN     NaN
177330           4               NaN            NaN     NaN

[748 rows x 21 columns]

In [6]:
DC_PP_Overs = PP_Overs.groupby('match_id').agg({'total_runs': ['sum']})
DC_PP_Overs.columns = ['total_runs_sum']
print(DC_PP_Overs)

          total_runs_sum
match_id
62                    55
93                    47
115                   28
133                   42
165                   35
180                   60
203                   52
241                   30
345                   42
349                   61
385                   39
433                   42
480                   46
498                   34
523                   51
553                   55
7899                  63
7925                  62
11331                 59
11344                 50

In [11]:
range1 = list(range(0,31))
a = DC_PP_Overs.loc[DC_PP_Overs['total_runs_sum'].isin(range1)]
A = a.groupby('match_id').size().count()
print(A)

2

In [13]:
range2 = list(range(31,41))
b = DC_PP_Overs.loc[DC_PP_Overs['total_runs_sum'].isin(range2)]
B = b.groupby('match_id').size().count()
print(B)

3

In [14]:
range3 = list(range(41,51))
c = DC_PP_Overs.loc[DC_PP_Overs['total_runs_sum'].isin(range3)]
C = c.groupby('match_id').size().count()
print(C)

6

In [16]:
max_value = DC_PP_Overs['total_runs_sum'].max()
range4 = list(range(51,max_value+1))
d = DC_PP_Overs.loc[DC_PP_Overs['total_runs_sum'].isin(range4)]
D = d.groupby('match_id').size().count()
print(D)

9

In [18]:
column_name = 'total_runs_sum'
total = DC_PP_Overs[column_name].sum()
print(total)

953

In [19]:
matches = DC_PP_Overs.groupby('match_id').size().count()
print(matches)

20

In [20]:
AvgRunsInPP = total/matches
print(AvgRunsInPP)

47.65