In [2]:
from pandas import *

In [3]:
df = read_csv(r'C:\Users\Asus\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [4]:
team = ['Delhi Daredevils', 'Delhi Capitals', 'Rajasthan Royals']
DCvsRR = df.loc[df['bowling_team'].isin(team) & df['batting_team'].isin(team)]
print(DCvsRR)

        match_id  inning      batting_team      bowling_team  over  ball  \
14335         62       1  Rajasthan Royals  Delhi Daredevils     1     1
14336         62       1  Rajasthan Royals  Delhi Daredevils     1     2
14337         62       1  Rajasthan Royals  Delhi Daredevils     1     3
14338         62       1  Rajasthan Royals  Delhi Daredevils     1     4
14339         62       1  Rajasthan Royals  Delhi Daredevils     1     5
...          ...     ...               ...               ...   ...   ...
177388     11344       2    Delhi Capitals  Rajasthan Royals    16     3
177389     11344       2    Delhi Capitals  Rajasthan Royals    16     4
177390     11344       2    Delhi Capitals  Rajasthan Royals    16     5
177391     11344       2    Delhi Capitals  Rajasthan Royals    16     6
177392     11344       2    Delhi Capitals  Rajasthan Royals    17     1

         batsman non_striker      bowler  is_super_over  ...  bye_runs  \
14335    T Kohli   YK Pathan  GD McGrath              0  ...         0
14336    T Kohli   YK Pathan  GD McGrath              0  ...         0
14337    T Kohli   YK Pathan  GD McGrath              0  ...         0
14338    T Kohli   YK Pathan  GD McGrath              0  ...         0
14339    T Kohli   YK Pathan  GD McGrath              0  ...         0
...          ...         ...         ...            ...  ...       ...
177388   RR Pant    AR Patel     S Gopal              0  ...         0
177389  AR Patel     RR Pant     S Gopal              0  ...         0
177390   RR Pant    AR Patel     S Gopal              0  ...         0
177391   RR Pant    AR Patel     S Gopal              0  ...         0
177392   RR Pant    AR Patel     I Sodhi              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
14335             0            0             0             0           0
14336             0            0             0             0           0
14337             0            0             0             0           0
14338             0            0             0             0           1
14339             0            0             0             0           0
...             ...          ...           ...           ...         ...
177388            0            0             0             1           0
177389            0            0             0             1           0
177390            0            0             0             6           0
177391            0            0             0             1           0
177392            0            0             0             6           0

        total_runs  player_dismissed dismissal_kind fielder
14335            0               NaN            NaN     NaN
14336            0               NaN            NaN     NaN
14337            0               NaN            NaN     NaN
14338            1               NaN            NaN     NaN
14339            0               NaN            NaN     NaN
...            ...               ...            ...     ...
177388           1               NaN            NaN     NaN
177389           1               NaN            NaN     NaN
177390           6               NaN            NaN     NaN
177391           1               NaN            NaN     NaN
177392           6               NaN            NaN     NaN

[4617 rows x 21 columns]

In [5]:
wide = DCvsRR.loc[(DCvsRR['wide_runs'] > 0)]
print(wide)

        match_id  inning      batting_team      bowling_team  over  ball  \
14338         62       1  Rajasthan Royals  Delhi Daredevils     1     4
14411         62       1  Rajasthan Royals  Delhi Daredevils    13     4
14468         62       2  Delhi Daredevils  Rajasthan Royals     2     6
14489         62       2  Delhi Daredevils  Rajasthan Royals     6     2
14503         62       2  Delhi Daredevils  Rajasthan Royals     8     3
...          ...     ...               ...               ...   ...   ...
177268     11344       1  Rajasthan Royals    Delhi Capitals    17     2
177269     11344       1  Rajasthan Royals    Delhi Capitals    17     3
177275     11344       1  Rajasthan Royals    Delhi Capitals    18     1
177292     11344       1  Rajasthan Royals    Delhi Capitals    20     5
177379     11344       2    Delhi Capitals  Rajasthan Royals    15     1

             batsman non_striker      bowler  is_super_over  ...  bye_runs  \
14338        T Kohli   YK Pathan  GD McGrath              0  ...         0
14411      RA Jadeja  D Salunkhe    R Bhatia              0  ...         0
14468       S Dhawan   G Gambhir   SR Watson              0  ...         0
14489      G Gambhir    S Dhawan  SK Trivedi              0  ...         0
14503       S Dhawan   G Gambhir  SK Trivedi              0  ...         0
...              ...         ...         ...            ...  ...       ...
177268       R Parag     I Sodhi    I Sharma              0  ...         0
177269       I Sodhi     R Parag    I Sharma              0  ...         0
177275       R Parag     I Sodhi    TA Boult              0  ...         0
177292       R Parag    VR Aaron    TA Boult              0  ...         0
177379  S Rutherford     RR Pant    VR Aaron              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
14338             0            0             0             0           1
14411             0            0             0             0           2
14468             0            0             0             0           1
14489             0            0             0             0           1
14503             0            0             0             0           1
...             ...          ...           ...           ...         ...
177268            0            0             0             2           2
177269            0            0             0             3           3
177275            0            0             0             1           1
177292            0            0             0             1           1
177379            0            0             0             1           1

        total_runs  player_dismissed dismissal_kind fielder
14338            1               NaN            NaN     NaN
14411            2               NaN            NaN     NaN
14468            1               NaN            NaN     NaN
14489            1               NaN            NaN     NaN
14503            1               NaN            NaN     NaN
...            ...               ...            ...     ...
177268           4               NaN            NaN     NaN
177269           6               NaN            NaN     NaN
177275           2               NaN            NaN     NaN
177292           2               NaN            NaN     NaN
177379           2               NaN            NaN     NaN

[146 rows x 21 columns]

In [6]:
N_wide = wide.groupby('match_id').count()
print(N_wide)

          inning  batting_team  bowling_team  over  ball  batsman  \
match_id
62             8             8             8     8     8        8
93             8             8             8     8     8        8
115            6             6             6     6     6        6
133            6             6             6     6     6        6
165            6             6             6     6     6        6
180            9             9             9     9     9        9
203            6             6             6     6     6        6
241            4             4             4     4     4        4
345            7             7             7     7     7        7
349            4             4             4     4     4        4
385            8             8             8     8     8        8
433           10            10            10    10    10       10
480            4             4             4     4     4        4
498           10            10            10    10    10       10
523           12            12            12    12    12       12
553           15            15            15    15    15       15
7899           3             3             3     3     3        3
7925           9             9             9     9     9        9
11331          4             4             4     4     4        4
11344          7             7             7     7     7        7

          non_striker  bowler  is_super_over  wide_runs  bye_runs  \
match_id
62                  8       8              8          8         8
93                  8       8              8          8         8
115                 6       6              6          6         6
133                 6       6              6          6         6
165                 6       6              6          6         6
180                 9       9              9          9         9
203                 6       6              6          6         6
241                 4       4              4          4         4
345                 7       7              7          7         7
349                 4       4              4          4         4
385                 8       8              8          8         8
433                10      10             10         10        10
480                 4       4              4          4         4
498                10      10             10         10        10
523                12      12             12         12        12
553                15      15             15         15        15
7899                3       3              3          3         3
7925                9       9              9          9         9
11331               4       4              4          4         4
11344               7       7              7          7         7

          legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
match_id
62                  8            8             8             8           8
93                  8            8             8             8           8
115                 6            6             6             6           6
133                 6            6             6             6           6
165                 6            6             6             6           6
180                 9            9             9             9           9
203                 6            6             6             6           6
241                 4            4             4             4           4
345                 7            7             7             7           7
349                 4            4             4             4           4
385                 8            8             8             8           8
433                10           10            10            10          10
480                 4            4             4             4           4
498                10           10            10            10          10
523                12           12            12            12          12
553                15           15            15            15          15
7899                3            3             3             3           3
7925                9            9             9             9           9
11331               4            4             4             4           4
11344               7            7             7             7           7

          total_runs  player_dismissed  dismissal_kind  fielder
match_id
62                 8                 0               0        0
93                 8                 0               0        0
115                6                 0               0        0
133                6                 0               0        0
165                6                 0               0        0
180                9                 0               0        0
203                6                 0               0        0
241                4                 0               0        0
345                7                 0               0        0
349                4                 0               0        0
385                8                 0               0        0
433               10                 0               0        0
480                4                 0               0        0
498               10                 0               0        0
523               12                 0               0        0
553               15                 0               0        0
7899               3                 0               0        0
7925               9                 0               0        0
11331              4                 0               0        0
11344              7                 0               0        0

In [8]:
r1 = list(range(0,2))
a = N_wide.loc[N_wide['wide_runs'].isin(r1)]
A = a.groupby('match_id').size().count()
print(A)

0

In [9]:
r2 = list(range(2,4))
b = N_wide.loc[N_wide['wide_runs'].isin(r2)]
B = b.groupby('match_id').size().count()
print(B)

1

In [10]:
r3 = list(range(4,6))
c = N_wide.loc[N_wide['wide_runs'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

4

In [12]:
max_value = N_wide['wide_runs'].max()
r4 = list(range(6,max_value+1))
d = N_wide.loc[N_wide['wide_runs'].isin(r4)]
D = d.groupby('match_id').size().count()
print(D)

15

In [37]:
column_name = 'wide_runs'
total_wides = N_wide[column_name].sum()
print(total_wides)

146

In [38]:
matches = N_wide.groupby('match_id').size().count()
print(matches)

20

In [39]:
avg_wides = total_wides/matches
print(avg_wides)

7.3