In [2]:
from pandas import *

In [3]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [4]:
Q_de_Kock = df.loc[(df['batsman'] == 'Q de Kock')]
print(Q_de_Kock)

        match_id  inning         batting_team         bowling_team  over  \
95087        402       1  Sunrisers Hyderabad        Pune Warriors     1
95088        402       1  Sunrisers Hyderabad        Pune Warriors     1
95089        402       1  Sunrisers Hyderabad        Pune Warriors     1
95091        402       1  Sunrisers Hyderabad        Pune Warriors     2
95092        402       1  Sunrisers Hyderabad        Pune Warriors     2
...          ...     ...                  ...                  ...   ...
178851     11415       1       Mumbai Indians  Chennai Super Kings     4
178855     11415       1       Mumbai Indians  Chennai Super Kings     5
178857     11415       1       Mumbai Indians  Chennai Super Kings     5
178858     11415       1       Mumbai Indians  Chennai Super Kings     5
178859     11415       1       Mumbai Indians  Chennai Super Kings     5

        ball    batsman non_striker           bowler  is_super_over  ...  \
95087      3  Q de Kock    PA Patel          B Kumar              0  ...
95088      4  Q de Kock    PA Patel          B Kumar              0  ...
95089      5  Q de Kock    PA Patel          B Kumar              0  ...
95091      1  Q de Kock    PA Patel         AB Dinda              0  ...
95092      2  Q de Kock    PA Patel         AB Dinda              0  ...
...      ...        ...         ...              ...            ...  ...
178851     3  Q de Kock   RG Sharma  Harbhajan Singh              0  ...
178855     1  Q de Kock   RG Sharma        SN Thakur              0  ...
178857     3  Q de Kock   RG Sharma        SN Thakur              0  ...
178858     4  Q de Kock   RG Sharma        SN Thakur              0  ...
178859     5  Q de Kock   RG Sharma        SN Thakur              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
95087          0            0            0             0             0
95088          0            0            0             0             0
95089          0            0            0             0             1
95091          0            0            0             0             0
95092          0            0            0             0             0
...          ...          ...          ...           ...           ...
178851         0            0            0             0             1
178855         0            0            0             0             1
178857         0            0            0             0             0
178858         0            0            0             0             6
178859         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind   fielder
95087            0           0               NaN            NaN       NaN
95088            0           0               NaN            NaN       NaN
95089            0           1               NaN            NaN       NaN
95091            0           0               NaN            NaN       NaN
95092            0           0               NaN            NaN       NaN
...            ...         ...               ...            ...       ...
178851           0           1               NaN            NaN       NaN
178855           0           1               NaN            NaN       NaN
178857           0           0               NaN            NaN       NaN
178858           0           6               NaN            NaN       NaN
178859           0           0         Q de Kock         caught  MS Dhoni

[1136 rows x 21 columns]

In [5]:
grouped_Q_De_Kock = Q_de_Kock.groupby('match_id')
top_10_rows = grouped_Q_De_Kock. head(10)
print(top_10_rows)

        match_id  inning         batting_team         bowling_team  over  \
95087        402       1  Sunrisers Hyderabad        Pune Warriors     1
95088        402       1  Sunrisers Hyderabad        Pune Warriors     1
95089        402       1  Sunrisers Hyderabad        Pune Warriors     1
95091        402       1  Sunrisers Hyderabad        Pune Warriors     2
95092        402       1  Sunrisers Hyderabad        Pune Warriors     2
...          ...     ...                  ...                  ...   ...
178842     11415       1       Mumbai Indians  Chennai Super Kings     3
178843     11415       1       Mumbai Indians  Chennai Super Kings     3
178844     11415       1       Mumbai Indians  Chennai Super Kings     3
178845     11415       1       Mumbai Indians  Chennai Super Kings     3
178846     11415       1       Mumbai Indians  Chennai Super Kings     3

        ball    batsman non_striker     bowler  is_super_over  ...  bye_runs  \
95087      3  Q de Kock    PA Patel    B Kumar              0  ...         0
95088      4  Q de Kock    PA Patel    B Kumar              0  ...         0
95089      5  Q de Kock    PA Patel    B Kumar              0  ...         0
95091      1  Q de Kock    PA Patel   AB Dinda              0  ...         0
95092      2  Q de Kock    PA Patel   AB Dinda              0  ...         0
...      ...        ...         ...        ...            ...  ...       ...
178842     1  Q de Kock   RG Sharma  DL Chahar              0  ...         0
178843     2  Q de Kock   RG Sharma  DL Chahar              0  ...         0
178844     3  Q de Kock   RG Sharma  DL Chahar              0  ...         0
178845     4  Q de Kock   RG Sharma  DL Chahar              0  ...         0
178846     5  Q de Kock   RG Sharma  DL Chahar              0  ...         0

        legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  \
95087             0            0             0             0           0
95088             0            0             0             0           0
95089             0            0             0             1           0
95091             0            0             0             0           0
95092             0            0             0             0           0
...             ...          ...           ...           ...         ...
178842            0            0             0             6           0
178843            0            0             0             1           1
178844            0            0             0             0           0
178845            0            0             0             6           0
178846            0            0             0             0           0

        total_runs  player_dismissed dismissal_kind fielder
95087            0               NaN            NaN     NaN
95088            0               NaN            NaN     NaN
95089            1               NaN            NaN     NaN
95091            0               NaN            NaN     NaN
95092            0               NaN            NaN     NaN
...            ...               ...            ...     ...
178842           6               NaN            NaN     NaN
178843           2               NaN            NaN     NaN
178844           0               NaN            NaN     NaN
178845           6               NaN            NaN     NaN
178846           0               NaN            NaN     NaN

[451 rows x 21 columns]

In [6]:
fours_and_sixes = top_10_rows.loc[top_10_rows['batsman_runs'].isin([4,6])]
print(fours_and_sixes)

        match_id  inning         batting_team           bowling_team  over  \
97961        414       1  Sunrisers Hyderabad    Chennai Super Kings     1
111183       469       2     Delhi Daredevils    Sunrisers Hyderabad     2
112073       473       2     Delhi Daredevils         Mumbai Indians     1
112088       473       2     Delhi Daredevils         Mumbai Indians     4
113625       480       1     Delhi Daredevils       Rajasthan Royals     1
...          ...     ...                  ...                    ...   ...
178004     11347       2       Mumbai Indians  Kolkata Knight Riders     1
178236     11412       2       Mumbai Indians    Chennai Super Kings     2
178242     11412       2       Mumbai Indians    Chennai Super Kings     3
178842     11415       1       Mumbai Indians    Chennai Super Kings     3
178845     11415       1       Mumbai Indians    Chennai Super Kings     3

        ball    batsman non_striker           bowler  is_super_over  ...  \
97961      2  Q de Kock    S Dhawan        MM Sharma              0  ...
111183     1  Q de Kock     M Vijay         DW Steyn              0  ...
112073     6  Q de Kock     M Vijay       SL Malinga              0  ...
112088     3  Q de Kock     M Vijay  Harbhajan Singh              0  ...
113625     2  Q de Kock     M Vijay        STR Binny              0  ...
...      ...        ...         ...              ...            ...  ...
178004     3  Q de Kock   RG Sharma        S Warrier              0  ...
178236     5  Q de Kock    AS Yadav  Harbhajan Singh              0  ...
178242     4  Q de Kock    AS Yadav        DL Chahar              0  ...
178842     1  Q de Kock   RG Sharma        DL Chahar              0  ...
178845     4  Q de Kock   RG Sharma        DL Chahar              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
97961          0            0            0             0             4
111183         0            0            0             0             4
112073         0            0            0             0             4
112088         0            0            0             0             4
113625         0            0            0             0             4
...          ...          ...          ...           ...           ...
178004         0            0            0             0             6
178236         0            0            0             0             4
178242         0            0            0             0             4
178842         0            0            0             0             6
178845         0            0            0             0             6

        extra_runs  total_runs  player_dismissed dismissal_kind fielder
97961            0           4               NaN            NaN     NaN
111183           0           4               NaN            NaN     NaN
112073           0           4               NaN            NaN     NaN
112088           0           4               NaN            NaN     NaN
113625           0           4               NaN            NaN     NaN
...            ...         ...               ...            ...     ...
178004           0           6               NaN            NaN     NaN
178236           0           4               NaN            NaN     NaN
178242           0           4               NaN            NaN     NaN
178842           0           6               NaN            NaN     NaN
178845           0           6               NaN            NaN     NaN

[71 rows x 21 columns]

In [7]:
runs = fours_and_sixes.groupby('match_id').agg({'batsman_runs':['sum']})
runs.columns = ['runs']
print(runs)

          runs
match_id
414          4
469          4
473          8
480          8
483          4
485          8
495          4
561         12
571          4
578         10
583          4
587         20
593          8
599          4
607          8
612          4
618          8
623          6
632          4
7896         4
7901         8
7904        12
7907         8
7912         4
7917        12
7922         8
11139       14
11143        4
11145       12
11151        4
11310        6
11315        8
11318       10
11322       12
11325        4
11335       10
11342        8
11347        6
11412        8
11415       12

In [9]:
r1 = list(range(10,15))
a = runs.loc[runs['runs'].isin(r1)]
A = a.groupby('match_id').size().count()
print('times Q de Kock scored 10-14 runs:',A)

times Q de Kock scored 10-14 runs: 10

In [10]:
r2 = list(range(15,21))
b = runs.loc[runs['runs'].isin(r2)]
B = b.groupby('match_id').size().count()
print('times Q de Kock scored 15-20 runs:',B)

times Q de Kock scored 15-20 runs: 1

In [11]:
r3 = list(range(0,10))
c = runs.loc[runs['runs'].isin(r3)]
C = c.groupby('match_id').size().count()
print(C)

29

In [12]:
matches = Q_de_Kock.groupby('match_id').size().count()
print(matches)

50

In [13]:
index = runs.index
D = len(index)
print(D)

40

In [14]:
E = matches - D + C
print('times Q de Kock socred 0-10 runs:',E)

times Q de Kock socred 0-10 runs: 39