In [43]:
from pandas import *

In [44]:
df = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\deliveries.csv')
print(df)

        match_id  inning         batting_team                 bowling_team  \
0              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
1              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
2              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
3              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
4              1       1  Sunrisers Hyderabad  Royal Challengers Bangalore
...          ...     ...                  ...                          ...
179073     11415       2  Chennai Super Kings               Mumbai Indians
179074     11415       2  Chennai Super Kings               Mumbai Indians
179075     11415       2  Chennai Super Kings               Mumbai Indians
179076     11415       2  Chennai Super Kings               Mumbai Indians
179077     11415       2  Chennai Super Kings               Mumbai Indians

        over  ball    batsman non_striker      bowler  is_super_over  ...  \
0          1     1  DA Warner    S Dhawan    TS Mills              0  ...
1          1     2  DA Warner    S Dhawan    TS Mills              0  ...
2          1     3  DA Warner    S Dhawan    TS Mills              0  ...
3          1     4  DA Warner    S Dhawan    TS Mills              0  ...
4          1     5  DA Warner    S Dhawan    TS Mills              0  ...
...      ...   ...        ...         ...         ...            ...  ...
179073    20     2  RA Jadeja   SR Watson  SL Malinga              0  ...
179074    20     3  SR Watson   RA Jadeja  SL Malinga              0  ...
179075    20     4  SR Watson   RA Jadeja  SL Malinga              0  ...
179076    20     5  SN Thakur   RA Jadeja  SL Malinga              0  ...
179077    20     6  SN Thakur   RA Jadeja  SL Malinga              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
0              0            0            0             0             0
1              0            0            0             0             0
2              0            0            0             0             4
3              0            0            0             0             0
4              0            0            0             0             0
...          ...          ...          ...           ...           ...
179073         0            0            0             0             1
179074         0            0            0             0             2
179075         0            0            0             0             1
179076         0            0            0             0             2
179077         0            0            0             0             0

        extra_runs  total_runs  player_dismissed dismissal_kind    fielder
0                0           0               NaN            NaN        NaN
1                0           0               NaN            NaN        NaN
2                0           4               NaN            NaN        NaN
3                0           0               NaN            NaN        NaN
4                2           2               NaN            NaN        NaN
...            ...         ...               ...            ...        ...
179073           0           1               NaN            NaN        NaN
179074           0           2               NaN            NaN        NaN
179075           0           1         SR Watson        run out  KH Pandya
179076           0           2               NaN            NaN        NaN
179077           0           0         SN Thakur            lbw        NaN

[179078 rows x 21 columns]

In [45]:
MI = df.loc[(df['bowling_team'] == 'Mumbai Indians')]
balls = MI[['match_id', 'bowler', 'ball']]
balls = balls.groupby(['match_id', 'bowler']).count()
print(balls)

                         ball
match_id bowler
2        HH Pandya         24
         JJ Bumrah         24
         KA Pollard        12
         KH Pandya         12
         MJ McClenaghan    24
...                       ...
11415    JJ Bumrah         24
         KH Pandya         18
         MJ McClenaghan    26
         RD Chahar         24
         SL Malinga        25

[1125 rows x 1 columns]

In [46]:
dot_balls = MI.loc[(MI['total_runs'] == 0)]
dot_balls = dot_balls[['match_id', 'bowler', 'ball']]
dot_balls = dot_balls.groupby(['match_id', 'bowler']).count()
dot_balls.columns = ['dot_balls']
print(dot_balls)

                         dot_balls
match_id bowler
2        HH Pandya               4
         JJ Bumrah               6
         KH Pandya               2
         MJ McClenaghan          9
         TG Southee              8
...                            ...
11415    JJ Bumrah              11
         KH Pandya               8
         MJ McClenaghan         12
         RD Chahar              13
         SL Malinga              7

[1094 rows x 1 columns]

In [47]:
result = concat([balls, dot_balls], axis = 1)
print(result)

                         ball  dot_balls
match_id bowler
2        HH Pandya         24        4.0
         JJ Bumrah         24        6.0
         KA Pollard        12        NaN
         KH Pandya         12        2.0
         MJ McClenaghan    24        9.0
...                       ...        ...
11415    JJ Bumrah         24       11.0
         KH Pandya         18        8.0
         MJ McClenaghan    26       12.0
         RD Chahar         24       13.0
         SL Malinga        25        7.0

[1125 rows x 2 columns]

In [48]:
result['dot_balls'] = result['dot_balls'].fillna(0)
print(result)

                         ball  dot_balls
match_id bowler
2        HH Pandya         24        4.0
         JJ Bumrah         24        6.0
         KA Pollard        12        0.0
         KH Pandya         12        2.0
         MJ McClenaghan    24        9.0
...                       ...        ...
11415    JJ Bumrah         24       11.0
         KH Pandya         18        8.0
         MJ McClenaghan    26       12.0
         RD Chahar         24       13.0
         SL Malinga        25        7.0

[1125 rows x 2 columns]

In [49]:
result['ratio'] = result['dot_balls']/result['ball']
print(result)

                         ball  dot_balls     ratio
match_id bowler
2        HH Pandya         24        4.0  0.166667
         JJ Bumrah         24        6.0  0.250000
         KA Pollard        12        0.0  0.000000
         KH Pandya         12        2.0  0.166667
         MJ McClenaghan    24        9.0  0.375000
...                       ...        ...       ...
11415    JJ Bumrah         24       11.0  0.458333
         KH Pandya         18        8.0  0.444444
         MJ McClenaghan    26       12.0  0.461538
         RD Chahar         24       13.0  0.541667
         SL Malinga        25        7.0  0.280000

[1125 rows x 3 columns]

In [56]:
TBoult = df.loc[(df['batting_team'] == 'Mumbai Indians') & (df['bowler'] == 'TA Boult')]
print(TBoult)

        match_id  inning    batting_team           bowling_team  over  ball  \
1552           7       2  Mumbai Indians  Kolkata Knight Riders     1     1
1553           7       2  Mumbai Indians  Kolkata Knight Riders     1     2
1554           7       2  Mumbai Indians  Kolkata Knight Riders     1     3
1555           7       2  Mumbai Indians  Kolkata Knight Riders     1     4
1556           7       2  Mumbai Indians  Kolkata Knight Riders     1     5
...          ...     ...             ...                    ...   ...   ...
165439     11139       2  Mumbai Indians         Delhi Capitals    18     2
165440     11139       2  Mumbai Indians         Delhi Capitals    18     3
165441     11139       2  Mumbai Indians         Delhi Capitals    18     4
165442     11139       2  Mumbai Indians         Delhi Capitals    18     5
165443     11139       2  Mumbai Indians         Delhi Capitals    18     6

               batsman     non_striker    bowler  is_super_over  ...  \
1552          PA Patel      JC Buttler  TA Boult              0  ...
1553          PA Patel      JC Buttler  TA Boult              0  ...
1554          PA Patel      JC Buttler  TA Boult              0  ...
1555          PA Patel      JC Buttler  TA Boult              0  ...
1556          PA Patel      JC Buttler  TA Boult              0  ...
...                ...             ...       ...            ...  ...
165439    Yuvraj Singh  MJ McClenaghan  TA Boult              0  ...
165440    Yuvraj Singh  MJ McClenaghan  TA Boult              0  ...
165441    Yuvraj Singh  MJ McClenaghan  TA Boult              0  ...
165442  MJ McClenaghan    Yuvraj Singh  TA Boult              0  ...
165443  MJ McClenaghan    Yuvraj Singh  TA Boult              0  ...

        bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  \
1552           0            0            0             0             0
1553           0            0            0             0             0
1554           0            0            0             0             4
1555           0            0            0             0             0
1556           0            0            0             0             1
...          ...          ...          ...           ...           ...
165439         0            0            0             0             0
165440         0            0            0             0             4
165441         0            0            0             0             1
165442         0            0            0             0             0
165443         0            0            0             0             4

        extra_runs  total_runs  player_dismissed dismissal_kind fielder
1552             0           0               NaN            NaN     NaN
1553             0           0               NaN            NaN     NaN
1554             0           4               NaN            NaN     NaN
1555             0           0               NaN            NaN     NaN
1556             0           1               NaN            NaN     NaN
...            ...         ...               ...            ...     ...
165439           0           0               NaN            NaN     NaN
165440           0           4               NaN            NaN     NaN
165441           0           1               NaN            NaN     NaN
165442           0           0               NaN            NaN     NaN
165443           0           4               NaN            NaN     NaN

[151 rows x 21 columns]

In [61]:
balls1 = TBoult[['match_id', 'bowler', 'ball']]
balls1 = balls1.groupby(['match_id', 'bowler']).count()
dot_balls1 = TBoult.loc[(TBoult['total_runs'] == 0)]
dot_balls1 = dot_balls1[['match_id', 'bowler', 'ball']]
dot_balls1 = dot_balls1.groupby(['match_id', 'bowler']).count()
dot_balls1.columns = ['dot_balls']
result1 = concat([balls1, dot_balls1], axis = 1)
result1['ratio'] = result1['dot_balls']/result1['ball']
print(result1)

                   ball  dot_balls     ratio
match_id bowler
7        TA Boult    24          6  0.250000
53       TA Boult    26         12  0.461538
541      TA Boult    26          8  0.307692
7902     TA Boult    25          5  0.200000
7948     TA Boult    25          8  0.320000
11139    TA Boult    25          7  0.280000

In [62]:
final = concat([result, result1])
print(final)

                         ball  dot_balls     ratio
match_id bowler
2        HH Pandya         24        4.0  0.166667
         JJ Bumrah         24        6.0  0.250000
         KA Pollard        12        0.0  0.000000
         KH Pandya         12        2.0  0.166667
         MJ McClenaghan    24        9.0  0.375000
...                       ...        ...       ...
53       TA Boult          26       12.0  0.461538
541      TA Boult          26        8.0  0.307692
7902     TA Boult          25        5.0  0.200000
7948     TA Boult          25        8.0  0.320000
11139    TA Boult          25        7.0  0.280000

[1131 rows x 3 columns]

In [63]:
final = final.groupby('match_id')['ratio'].nlargest()
final_result = final.groupby('match_id').head(1)
print(final_result)

match_id  match_id  bowler
2         2         MJ McClenaghan     0.375000
7         7         KH Pandya          0.333333
10        10        Harbhajan Singh    0.583333
12        12        Harbhajan Singh    0.458333
16        16        MJ McClenaghan     0.461538
                                         ...
11338     11338     HH Pandya          0.380952
11342     11342     RD Chahar          0.416667
11347     11347     RD Chahar          0.666667
11412     11412     KH Pandya          0.541667
11415     11415     HH Pandya          0.571429
Name: ratio, Length: 187, dtype: float64

In [64]:
final_result.to_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\MI_best_bowlers.csv')

In [65]:
df1 = read_csv(r'C:\Users\harsi\OneDrive\Desktop\WPL Datasets\MI_best_bowlers.csv')
print(df1)

     match_id  match_id.1           bowler     ratio
0           2           2   MJ McClenaghan  0.375000
1           7           7        KH Pandya  0.333333
2          10          10  Harbhajan Singh  0.583333
3          12          12  Harbhajan Singh  0.458333
4          16          16   MJ McClenaghan  0.461538
..        ...         ...              ...       ...
182     11338       11338        HH Pandya  0.380952
183     11342       11342        RD Chahar  0.416667
184     11347       11347        RD Chahar  0.666667
185     11412       11412        KH Pandya  0.541667
186     11415       11415        HH Pandya  0.571429

[187 rows x 4 columns]

In [66]:
JJ_Bumrah = df1.loc[(df1['bowler'] == 'JJ Bumrah')]
A = JJ_Bumrah.groupby('match_id').size().count()
print(A)

14

In [67]:
RD_Chahar = df1.loc[(df1['bowler'] == 'RD Chahar')]
B = RD_Chahar.groupby('match_id').size().count()
print(B)

3

In [68]:
TA_Boult = df1.loc[(df1['bowler'] == 'TA_Boult')]
C = TA_Boult.groupby('match_id').size().count()
print(C)

0

In [ ]:
On claculating the